[2017-09-27 19:11] ghost opened #1192 "Sticky header : logo not well resized after clicking on back to top"
easy to reproduced here https://twomando.pl/en/
scroll down, then click on the back to top arrow

![not_resized](https://user-images.githubusercontent.com/3038156/30932633-630008ee-a3c8-11e7-8126-ed9d9e1e0262.jpg)

[2017-09-27 19:17] ghost commented on #1188
really cool to have users reporting things like this !

[2017-09-27 19:17] ghost commented on #1188
thx

[2017-09-27 19:24] ghost opened #1193 "Header style : add new option for custom color"
- There should be a "Custom" option in addition to the current Light and Dark options.
- When "Custom" is selected, 2 color pickers are revealed => needs to add a new dominus / servus dependency
  - a background color picker : default color == light
  - a text color picker : default color == #313131
- For the menu _progress bar effect_ on hover in the header, the user text picked color will be tre

[2017-09-28 08:37] ghost commented on #1193
@eri-trabiccolo updated : let's do add a custom color only for the header for the moment

[2017-09-28 10:19] Growlertiger commented on #1142
It is still there, @ssknits - perhaps you switched from "Classic" to "Modern" which doesn't have the issue.

[2017-09-28 15:40] eri-trabiccolo opened #1194 "Prevdem error on singulars"
PHP Fatal error:  Uncaught ArgumentCountError: Too few arguments to function CZR_prevdem::czr_fn_filter_thumb_src(), 1 passed in /srv/www/wordpress-default/public_html/wp-includes/class-wp-hook.php on line 298 and exactly 6 expected in /srv/www/wordpress-default/public_html/wp-content/themes/customizr/core/class-fire-prevdem.php:151

[2017-09-28 15:50] eri-trabiccolo commented on #1194
solution:
replace:
https://github.com/presscustomizr/customizr/blob/v4.0.8/core/front/models/content/common/media/class-model-thumbnail.php#L189
with:
[code]
(in a near future the post thumbnail should be get using czr_fn_get_thumbnail_model() too)

[2017-09-28 16:32] ssknits commented on #1142
Indeed, @Growlertiger that is what I did. Sorry. I hope this gets resolved soon!

[2017-09-29 11:50] #1140 closed, assigned to eri-trabiccolo

[2017-09-29 11:50] #1191 closed, assigned to nobody

[2017-09-29 11:51] #1185 closed, assigned to nobody

[2017-09-29 11:52] #1188 closed, assigned to eri-trabiccolo

[2017-09-29 11:52] #1183 closed, assigned to eri-trabiccolo

[2017-09-29 12:33] eri-trabiccolo commented on #1194
Are you about to release the free version too? If yes take a look a this issue+solution as it affects the prevdem => wp.org preview too then.

[2017-09-29 12:36] ghost commented on #1194
No I'll wait for the custom header color to release the free.
Yes thanks for the reminder. I'm on it now !

[2017-09-29 12:52] ghost commented on #1191
@eri-trabiccolo I went for a simple fix for the moment.

[2017-09-29 12:55] eri-trabiccolo commented on #1191
yeah I saw ;)

[2017-09-29 13:03] #1194 closed, assigned to nobody

[2017-09-29 22:25] tilmanbremer opened #1195 "Slider lead text length truncated"
The lead text of a slider is being truncated when saved. This did not happened previously, but I couldn't find out what version changed that and as I don't change the sliders ofter, I don't know exactly when it appeared for the first time.

In my case, this is bad, because I have multilanguage text there with qtranslate-x. Because customizr doesn't work well with qtranslate-x here, I have to post

[2017-09-30 10:33] eri-trabiccolo commented on #1195
Hi there,
thanks for reporting this.

This issue has been addressed and the fix will be most likely shipped in the next theme release.

[2017-09-30 11:20] tilmanbremer commented on #1195
Wow, thanks a lot for that fast fix! Nice to know this was actually something and not just me being stupid :-).

[2017-10-01 08:38] ghost opened #1197 "Unify the way images can be navigated"
https://wordpress.org/support/topic/customizr-classical/#post-9545935

http://www.rayphoto.in/culture/durga-idol-6191/

[2017-10-03 11:13] ghost opened #1199 "logo / tile stays shrinked when slowly scrolling up"
http://wordpress.systemelectronic.de/

no topbar enabled

[2017-10-05 07:16] ghost opened #1200 "header dark skin : hamburger too dark on hover => becomes almost invisible"
http://www.hrtam.com/hr-talent/

## On Hover
![after](https://user-images.githubusercontent.com/3038156/31214940-d4364f1a-a9ad-11e7-9b48-851c5fd007c2.png)

[2017-10-05 08:20] eri-trabiccolo commented on #1200
I see,
this is probably due to a change we made a long time ago on the scss $grey_light color variable.

That hover color (which is the same for the cart icon btw) is always $grey_light = 777 hex (it's not derived by the foreground or background color, which is bad).

Anyway when I did the custom header skin stuff I addressed this invariability and set that on hover value to the foreground color (

[2017-10-05 08:56] cjamin opened #1201 "Modern style: the language of the theme sticks to English"
In modern style, the language of the theme appears to be in English even though the site is configured to be in French.
If I switch to Classical style, then it's in French.

[2017-10-05 12:37] eri-trabiccolo opened #1202 "Modern: h* position, should not be relative by default?!"
https://wordpress.org/support/topic/image-link-problem-in-connection-with-headline

Having them relatively positioned might create the kind of issue reported in the above topic.

The `position: relative` was a _design choice_ most likely due to the fact that most of the headings have the "underline" (after pseudo element) which is absolutely positioned in reference to them.

Though that should lim

[2017-10-05 16:11] ghost opened #1203 "Shall the default layout be set to no sidebars instead of left ( for global, post and pages ) ?"
Because I see more and more websites not using any widgets and leaving the sidebar simply empty...
example : http://aptpuo.jungle.ca/2017/07/21/be-aware-of-job-posting-changes/

[2017-10-05 16:31] eri-trabiccolo commented on #1203
Might be the case,
though I'm not sure isn't a choice: that site pages have a layout without sidebars (not default).
But might even be set for those specific pages ....

Anyway, if it happens more with the ms, might be due to the missing helpblocks that at least tell the user "Hey you can set widgets here" implying: "hey, there's a sidebar here..."

[2017-10-05 16:45] ghost commented on #1203
yep, I thought about this too. You are right, let's first implement the helpblock.

[2017-10-05 18:24] eri-trabiccolo commented on #1203
I didn't mean that! I was just remembering those days when we wanted to be sidebars...

[2017-10-06 12:00] eri-trabiccolo opened #1204 "Feature request: submenu collapsing in mobile and sidenav menu."
Since the mobile menu now is a totally different menu we can add an option to display the submenu collapsed (uncollapsing on click) as it won't interfere with the "horizontal" menus.
Same can be done for the sidenav menu.

With some additional work we can then port this for the classical style (meaning porting also the different mobile menu there).

[2017-10-06 12:39] ghost opened #1205 "update wpml compat for featured page"

[2017-10-06 12:40] ghost commented on #1205
@eri-trabiccolo don't be sarcastic please :)

[2017-10-06 12:56] eri-trabiccolo commented on #1205
Mmm I think that article misses how to translate the the featured text and featured text button:
https://wordpress.org/support/topic/featured-page-front-page-content-not-translating/#post-9562624

I just tested it works with wpml 3.7.1

[2017-10-06 17:27] eri-trabiccolo commented on #1205
As reported by the user the featured pages (page ids) are not translated in modern style.

[2017-10-06 17:48] eri-trabiccolo commented on #1205
posts slider works fine too

[2017-10-07 17:20] #1195 closed, assigned to nobody

[2017-10-07 17:45] #1193 closed, assigned to nobody

[2017-10-07 17:47] #1205 closed, assigned to nobody

[2017-10-07 20:14] #1153 closed, assigned to nobody

[2017-10-07 20:19] ghost commented on #1204
@eri-trabiccolo to be discussed during the next point

[2017-10-07 20:22] #1085 closed, assigned to nobody

[2017-10-07 20:22] #247 closed

[2017-10-07 20:22] #255 closed

[2017-10-07 20:24] #271 closed

[2017-10-07 20:25] #390 closed

[2017-10-07 20:26] #455 closed

[2017-10-08 09:32] ghost commented on #989
- move CZR_placeholders from inc/_dev to core/_dev
- modify inc/_dev/a_init_load-and-instantiate.php to remove instantation there
- setup instantiation in core/init.php
- port the css for help notice to modern style => create a separate css file to enqueued when conditions are met : user-loggedin and option checked
- split the js => extract the help block part from the front fmk and enqueue it sep

[2017-10-09 07:33] ghost opened #1207 "Slider : Add an option to control the visibility of the bullets"
relevant only for desktop.
we won't display the bullets on mobiles

[2017-10-09 08:10] eri-trabiccolo commented on #1207
I guess the slider bullets?!

[2017-10-09 08:16] ghost commented on #1207
yep :)

[2017-10-09 08:27] ghost commented on #1197
Adding an attachment fmk inner template ( not a wp tmpl)

[2017-10-09 08:52] ghost opened #1208 "Add a notification about style switcher for old users"

[2017-10-09 09:06] ghost opened #1209 "update the custom-page.php file => copy the relevant code from templates/parts/index-no-model.php"
The idea is to make it simpler for developers to create their own custom page templates
related to this thread https://wordpress.org/support/topic/custom-page-template-31/

[2017-10-09 11:08] eri-trabiccolo opened #1215 "Modern Skin: the global skin CSS isn't printed if no custom header skin choosen"
I think this commit hasn't been completely merged:
https://github.com/presscustomizr/customizr/pull/1198/commits/106dd9c5f0cc0ee8f1e74abfc978de2132b792c1

Pushing a new PR in a minute

[2017-10-09 11:22] eri-trabiccolo commented on #1215
@Nikeo this is important to fix before next release.

[2017-10-09 13:42] #1215 closed, assigned to eri-trabiccolo

[2017-10-09 13:43] ghost commented on #1215
yep important
merged

[2017-10-09 15:24] #1200 closed, assigned to nobody

[2017-10-09 21:16] #1192 closed, assigned to nobody

[2017-10-09 21:16] #1199 closed, assigned to nobody

[2017-10-10 14:21] eri-trabiccolo opened #1218 "Modern style: footer push inline CSS duplication"
It is added both in the footer and the footer push model

[2017-10-10 14:25] eri-trabiccolo opened #1219 "Modern style: header skin's secondary color not correctly implemented"
https://github.com/presscustomizr/customizr/blob/v4.0.9/assets/front/scss/0_2_header/skins/_skins.scss#L16
That produces, if used for instance for the color property, something like:
    `color: if true, #eceeef, #777;`

[2017-10-10 17:07] #1218 closed, assigned to nobody

[2017-10-10 17:07] #1219 closed, assigned to nobody

[2017-10-11 07:54] eri-trabiccolo commented on #1144
Update: of course it conflicts also with Lifter LMS plugin.
https://secure.helpscout.net/conversation/446573546/33161?folderId=607709

With the classic style there's no conflict because we changed the 2.3.2 bootstrap js to avoid conflicts.
We really should get rid of the bs collapse js (and the html/css that triggers it) that we use only for the mobile menu.

Again the hueaman method might be the

[2017-10-11 09:01] eri-trabiccolo opened #1221 "Improve localization"
Here's the conversation I had with @denzelchia:

---------------------------------------------------------------

So letting that plugin compat aside, here's what I think we should do:
a) specify the Domain Path in the themes style.css (the pro should change that value with grunt)
b) keep the localization files up to date whether they reside on wp.org, or selfhosted. In the latter case keeping the

[2017-10-11 09:10] eri-trabiccolo commented on #1197
Diving into this I realized that Customizr classical style doesn't display attachments which are not images. Its attachment "template" assumes all the attachments are images, but this is not true at all (e.g. you can have audio/video attachments).
So  for this issue I would care only about attachments which are images. Meaning that all the attachments which aren't an image would be displayed using

[2017-10-12 08:18] ghost commented on #1197
I'm with you. Let's do it this way.

[2017-10-15 16:01] SUGO-es opened #1223 "WC_Cart::get_cart_url obsoleto"
PHP Notice:  WC_Cart::get_cart_url ha quedado <strong>obsoleto</strong> desde la versión 2.5. Utiliza wc_get_cart_url en su lugar.

/wp-content/themes/customizr/inc/czr-init-ccat.php - line:1470

Después de instalar WC 3.2.1 me llena el registro con este mensaje.

Solución :
`1470  <a class="cart-contents" href="<?php echo esc_url( wc_get_cart_url() ); ?>" title="<?php _e( 'View your shopping cart

[2017-10-16 16:22] ghost opened #1224 "nested ordered lists style is broken"
https://github.com/presscustomizr/customizr/commit/c9afd6c8ce6209b060fd6b7976cb6e005c7c897e#commitcomment-25003965
http://customizr-dev.dev/demo/shortcodes/typography/

[2017-10-17 20:43] ghost opened #1226 "Mobile menu : Don’t collapse long menus when scrolling down"
example : https://angelpawprint.com/about/our-guardian-angel/

[2017-10-17 20:44] ghost opened #1227 "wp4.9 fix customizer compatibility"

[2017-10-18 07:38] eri-trabiccolo opened #1228 "Dev: bulleted and numbered lists formatting commit messed up tag buttons alignment"
Commit: https://github.com/presscustomizr/customizr/commit/c9afd6c8ce6209b060fd6b7976cb6e005c7c897e
impact:
<img width="647" alt="2017-10-18_9-37-07" src="https://user-images.githubusercontent.com/7689242/31706064-f5f10494-b3e7-11e7-8c07-2bac24c4c541.png">

[2017-10-18 07:45] eri-trabiccolo commented on #1228
Actually this line:
https://github.com/presscustomizr/customizr/commit/c9afd6c8ce6209b060fd6b7976cb6e005c7c897e#diff-e5765f480c24b77671e029b369cd90c3R7198
impacts on the nav__utils li (like the search)

[2017-10-18 14:40] ghost opened #1230 "WP4.9 compat => customizer styling => fix li control custom style"
![2017-10-18_16-37-54](https://user-images.githubusercontent.com/3038156/31724840-108172b8-b423-11e7-8e5a-0efaa45d5495.jpg)

[2017-10-18 14:42] #1197 closed, assigned to eri-trabiccolo

[2017-10-18 15:40] eri-trabiccolo commented on #1228
and on the slider bullets too see:
![2017-10-18_16-37-54](https://user-images.githubusercontent.com/3038156/31724840-108172b8-b423-11e7-8e5a-0efaa45d5495.jpg)

from: https://github.com/presscustomizr/customizr/issues/1230

[2017-10-18 16:36] ghost opened #1231 "Description of an image in an attachment page should always be displayed below the image"
Following #1197 implementation
Here's the problem

![attachment_description](https://user-images.githubusercontent.com/3038156/31730693-fe211c12-b432-11e7-85f3-6b7caba46148.png)

A short description is not displayed below the image.
@eri-trabiccolo  Can you "flexilize it" ?

[2017-10-18 16:49] eri-trabiccolo commented on #1231
ops, that's weird and should not happen

[2017-10-18 16:53] ghost commented on #1231
yep

[2017-10-18 17:02] eri-trabiccolo commented on #1231
Anyway the figure should be centered too,
so the CSS has not been compiled.

I'm on it

[2017-10-18 17:33] eri-trabiccolo commented on #1231
Man, anyway I'm not sure what you're testing, because there are also php files to concatenate.

Anyway this is a bug and I'm about to push a fix

[2017-10-18 18:01] eri-trabiccolo opened #1233 "When displaying single attachment image post metas the publication/update date should not be a link"
According to the classical style.

This is because generally that meta links to an archive, and by default attachments are not displayed in archives.
So that clicking on that meta we would end up on an 404.

[2017-10-18 20:02] #1231 closed, assigned to eri-trabiccolo

[2017-10-18 20:07] ghost commented on #1233
ah yes, good catch and fix.
thx

[2017-10-18 20:10] #1233 closed, assigned to nobody

[2017-10-19 09:28] #1172 closed, assigned to eri-trabiccolo

[2017-10-19 10:35] ghost opened #1235 "Slider : caption text size still too big on mobile => fittext settings"
https://organic.educationforasia.org/

[2017-10-19 12:51] eri-trabiccolo opened #1236 "Improve style switching suggestion for child-theme users"
At the moment we:
1) say to add the constant definition in the wp-config.php file.
This is not necessarily good in multisites, as they have one wp-config.php file, and one might want to apply it not to all the sites.
We should say that that constant definition should be added in the child-theme functions.php (at least for multisites).
2) the notice reads:

we should remove that '.' (dot) after the

[2017-10-20 06:15] JTS-IL opened #1238 "imp:Assign filter for setting tc_grid_size ratio"
In the world of photography there are several popular image proportions, the most common is the golden ratio, which is used for tc_grid_size.
However, sometimes a ratio of 9:16 or 3:4 or even 2:3 is better for images display.
I suggest to add a filter that allows to change the image ratio easily, without the need to add external plugin.

[2017-10-20 11:05] ghost opened #1239 "main slider : let flickity handle the lazyloading ?"
@eri-trabiccolo would there be any downside effect to apply to the main slider the same type of lazyload logic applied for the gallery carousel ( https://github.com/presscustomizr/customizr/commit/22c32ebf1eb7fdfbb34fb7a77ae40df593d0e2a4 )
 ?

[2017-10-20 11:08] ghost commented on #1239
The idea is of course to improve the performance by saving a lot of kbytes on page load, which is not the case right now because we smartload all the images of the slider.
=> flickity will only "smartload" <=> lazyload the first one

[2017-10-20 11:13] ghost opened #1240 "update flickty to its latest version"
https://github.com/metafizzy/flickity/compare/v2.0.5...v2.0.10
nothing major apparently

[2017-10-20 11:53] eri-trabiccolo commented on #1239
Wait I'm not sure I get what you mean:
1) _The idea is of course to improve the performance by saving a lot of kbytes on page load, which is not the case right now because we smartload all the images of the slider._
Main slider images are not smartloaded at all at the moment :)
Did you mean the opposite?

2) In your commit, if you exclude the gallery imgs from the "theme smartload" why do we want

[2017-10-20 14:01] eri-trabiccolo commented on #1240
Yeah that should be straightforward.

[2017-10-20 14:23] ghost commented on #1239
1. OK. I thought they were smartloaded.
2. That's right we don't need that in the normal case. But I wanted to keep it for the moment if for some reasons we need to deactivate the flickity lazyload ( by setting czr_lazy_load_img_in_gallery_carousels to false )
3. I'm doing some tests

[2017-10-20 14:31] eri-trabiccolo commented on #1239
I see, well historically they've never been smartloaded... why?
Not sure why, probably just because in the classical style I they couldn't:
not active slides are not displayed (display:none) so that jQuery isn't able to understand their position, hence the smartload wouldn't be triggered for them. And we never implemented any workaround for that.
But that's mostly a guess on the decision made seve

[2017-10-20 14:49] eri-trabiccolo commented on #1239
Just to be clear about 3.
the way the slider responsive images are implemented for the main slider, as you know, is not that correct, because we load all the image sizes for a given image, which is not good, because only responsive versions of that image should be used.
I think we should open a different issue for that.

[2017-10-20 14:51] ghost commented on #1239
yes I know, this is always the same problem with srcset. And yes there should be an issue opened for that. Can you do it ?

[2017-10-20 14:53] eri-trabiccolo commented on #1239
Yes, I can, but I don't think it's a problem with the srcset, it's a problem with the way we want to use it :D
It does what it has to do, but we want it doing something else :D

[2017-10-20 15:03] eri-trabiccolo opened #1242 "Improve the main slider responsive images"
At the moment we fill the srcset with all the available image sizes for a given slide image, whether or not they have the same aspect ratio (which is the conditio sine qua non images should fill the srcset).

What is the effect of this? Is it really what we want?

Our main problem is that main slider is not what can be considered "fully responsive", the slider element aspect ratio is not preserved

[2017-10-20 16:53] #1226 closed, assigned to nobody

[2017-10-20 17:00] #1100 closed, assigned to nobody

[2017-10-20 17:21] #1235 closed, assigned to nobody

[2017-10-20 17:23] ghost commented on #1227
fixed.
was actually a WP4.9 bug :
https://github.com/WordPress/WordPress/commit/a402312a8d4afc9e5fa674ff66d94e0502574d65

[2017-10-20 17:23] #1227 closed, assigned to nobody

[2017-10-23 03:45] denzelchia opened #1243 "[Customizr] WooCommerce - Account Details Password change input broken layout."
Hi @Nikeo,

Issue is reported by customer on helpscout.
https://secure.helpscout.net/conversation/453308599/33625?folderId=607541

I am able to replicate issue on my localhost.
I am using Customizr 2.0.11 ( Modern Design ) , WP 4.8.2, WooCommerce 3.2.1

After login to WordPress admin, go to My Account and Click on Account Details.
The Password change input is squeezed at the right hand side.

Plea

[2017-10-23 17:44] hahntech opened #1244 "Add nofollow to Post-Meta Links Or Remove Links"
I posted this on wordpress.org customizr forum. Then realized github get more traffic so I am repeating the post here:

This could be a feature request or a request for a custom solution.

I want to be able to display the post metas without search engines trying to follow the links that each meta tag includes. One method would be to add rel=”nofollow” to all the links associated with post metas. T

[2017-10-24 07:46] ghost commented on #1243
OK Thanks for reporting this @denzelchia

[2017-10-24 11:20] eri-trabiccolo commented on #1223
Thanks for reporting this.
Will be fixed in the next release. ;)

[2017-10-24 16:56] eri-trabiccolo opened #1247 "Multisite: possible wrong responsive images URL in main sliders"
Reported here:
https://secure.helpscout.net/conversation/451954896/33519?folderId=607709

Might not be visible at the moment on the user's website, but analyzing the source we can see some URLs in the srcset are wrong:
`https://educationforasia.org/wp-content/uploads/sites/12/2016/07/education-in-asia.jpg 1170w, https://educationforasia.org/wp-content/uploads/sites/12/2016/07/education-in-asia-300

[2017-10-24 19:13] #1223 closed, assigned to nobody

[2017-10-24 19:13] #1243 closed, assigned to eri-trabiccolo

[2017-10-24 19:15] #1240 closed, assigned to eri-trabiccolo

[2017-10-24 19:36] #1247 closed, assigned to eri-trabiccolo

[2017-10-24 21:17] eri-trabiccolo commented on #1228
and the comments tabs:
<img width="504" alt="2017-10-24_23-16-33" src="https://user-images.githubusercontent.com/7689242/31968476-87613876-b911-11e7-8b6c-f67439fe16f5.png">

[2017-10-25 06:31] ghost opened #1249 "customizer => update this wording in the doc"
https://secure.helpscout.net/conversation/450900373/33465/?folderId=607547

[2017-10-25 09:22] ghost commented on #1228
( copy from comments in commit https://github.com/presscustomizr/customizr/commit/d7e5b507254c53cd3f895f4ddf7a663dc3165445 )

fix : (partially fixes #1228) the ul / ol issue introduced in commit c9afd6c. The ul, ol rules are now narrowed down to .tc-content-inner.

But this does not fix the problems of blocks printed inside tc-content-inner > footer like the tag cloud.
This would need a structural

[2017-10-25 10:38] #1239 closed, assigned to eri-trabiccolo

[2017-10-25 11:41] ghost opened #1250 "New option to make sidebars sticky top, bottom, both"
like in hueman
like in the WP admin

[2017-10-25 12:57] ghost commented on #1228
fixed in https://github.com/presscustomizr/customizr/commit/b4c209cc4fdb93d47f15ff5d771bb92ca8ece050

[2017-10-25 12:57] #1228 closed, assigned to nobody

[2017-10-25 12:58] ghost commented on #1224
fixed in https://github.com/presscustomizr/customizr/commit/b4c209cc4fdb93d47f15ff5d771bb92ca8ece050

[2017-10-25 12:58] #1224 closed, assigned to nobody

[2017-10-25 12:59] ghost commented on #1207
Ah we did not talk about this one.
can you put it next in your list ? @eri-trabiccolo

[2017-10-25 13:04] eri-trabiccolo commented on #1207
sure man

[2017-10-25 13:41] eri-trabiccolo opened #1252 "Customizer: Front Page Content visibility not always work, probably due to conflicting plugins"
This conflict is not necessarily between the plugin and the theme, might be due among two plugins, or simply a plugin that alters the query in a way that makes our 'czr_fn_is_home' active callback produce false negatives .

Can we remove the active callback so to avoid this kind of issue @nikeo, as discussed?
(possibly in the upcoming release please :D)

reported e.g. here:
https://secure.helpscou

[2017-10-25 15:26] #1209 closed, assigned to eri-trabiccolo

[2017-10-25 16:34] ghost commented on #1014
quick specs
Free
- handle backward compat
- should be a ru ( Read Update ) module with 3 preset items
- should include the content picker for pages

Pro
- should be a crud module
- the layout and other general options should be set as modOpt globally
- should include the content picker for all type of content, including WooCommerce if active

[2017-10-25 22:25] ghost opened #1253 "Why are comments not displayed on wordpress.org preview ?"
https://wp-themes.com/customizr/?p=1#comment-509

[2017-10-26 09:17] eri-trabiccolo commented on #1253
Most likely my fault, because in modern, by mistake, I don't display the comments section when comments are closed, and I think they are in the wp.org preview:

modern relevant part:
https://github.com/presscustomizr/customizr/blob/dev/core/front/controllers/class-controller-content.php#L265

classical relevant part:
https://github.com/presscustomizr/customizr/blob/dev/inc/_dev/parts/class-content

[2017-10-26 09:25] ghost commented on #1253
ah ok that's why. thanks

[2017-10-26 11:13] eri-trabiccolo opened #1255 "WP4.9 compat => customizer additional CSS => fix default value producing incorrect code"
## First what happens with 4.9:
<img width="282" alt="2017-10-26_13-04-02" src="https://user-images.githubusercontent.com/7689242/32049686-37fe8c78-ba4e-11e7-9566-1f89887eeb93.png">

## then the culprit:
https://github.com/presscustomizr/customizr/blob/v4.0.9/core/_dev/_czr/class-czr-init.php#L247

## then the reason:
In 4.9 wp removes the comment block in the additional CSS default:
[code]
(impro

[2017-10-26 14:51] ghost commented on #1255
Let's remove this

[2017-10-26 14:51] ghost commented on #1255
I'm on it

[2017-10-26 16:38] eri-trabiccolo commented on #1207
just wanted to update the specs as we agreed to display the dots in mobiles too (right?)

[2017-10-26 16:51] eri-trabiccolo commented on #1207
Fixed with:
https://github.com/presscustomizr/customizr/pull/1257
https://github.com/presscustomizr/customizr-front-js-parts/pull/19

[2017-10-26 17:36] eri-trabiccolo opened #1258 "Add flickity dots to the gallery carousels in post lists"

[2017-10-26 17:46] eri-trabiccolo commented on #1258
PRs to implement this:
https://github.com/presscustomizr/customizr-front-js-parts/pull/20
https://github.com/presscustomizr/customizr/pull/1259

[2017-10-27 09:41] #1252 closed, assigned to nobody

[2017-10-27 10:11] #1255 closed, assigned to nobody

[2017-10-27 10:19] #1114 closed, assigned to nobody

[2017-10-27 10:28] #1253 closed, assigned to nobody

[2017-10-27 12:10] #1142 closed, assigned to nobody

[2017-10-27 12:52] eri-trabiccolo opened #1260 "404 content not displayed (and casual post/page content displayed) in a very rare case"
Can be verified on the demo:
https://demo.presscustomizr.com/tag/a/b

this should display the 404 content while it displays the content of the page with post id 1656 (not sure why this particular id in this case), as it is an actual 404 as you can also see from the title tag.

This happens because for some reason (I think due to a wp bug) `is_404()` can `have_posts()` while we assume it's not the

[2017-10-27 12:59] #1113 closed, assigned to nobody

[2017-10-27 13:00] ghost opened #1262 "Any img candidate for expansion with mfp should display an expansion icon on hover"

[2017-10-27 13:07] eri-trabiccolo commented on #1262
Complicated because the 'icon' is now absolutely placed relatively to a parent image container:
- whose width/height, when not a responsive container (used in most of the lists of posts but not always), it might be too big.
- images freely placed in the content then should be wrapped in a container

We can even do the latter in php (when parsing the images to be expanded) or in js, yet the first p

[2017-10-27 13:09] ghost commented on #1262
Ah OK. I got the picture.
we'll find a way !

[2017-10-27 13:11] ghost commented on #1260
oh ok good catch.
You should report this to core I think
thank for the fix !

[2017-10-27 13:12] #1260 closed, assigned to nobody

[2017-10-27 13:19] eri-trabiccolo commented on #1260
Yeah I should :)

[2017-10-27 13:50] ghost opened #1263 "Port attachment layout to cs"

[2017-10-27 13:53] eri-trabiccolo commented on #1263
Relevant part to port to cs: https://github.com/presscustomizr/customizr/commit/eb4715fa3204ca45e3d842ced04b0d6d3447f8a7#diff-2cda8cd526f1d751a00ca41b78f557fb

[2017-10-27 13:54] ghost opened #1264 "v4.0.10 tests"
## Added features
- [ ] slider => full worklflow of creation + display it on home and on a post / page
- [ ] slider => smartload test on ms and cs
- [ ] attachment => layout meta filed test

## Others
- [ ] WooCommerce => random tests
- [ ] Version of WordPress => are we sure that everything works, including the customizer, with both 4.8 and 4.9beta4

## User started before
- [ ] From **none** to

[2017-10-27 14:20] #1263 closed, assigned to nobody

[2017-10-27 14:21] #1258 closed, assigned to eri-trabiccolo

[2017-10-27 14:21] #1207 closed, assigned to eri-trabiccolo

[2017-10-27 15:02] eri-trabiccolo commented on #1264
Tests I conducted:
## Added features
- [x] slider => full worklflow of creation + display it on home and on a post / page
- [x] slider => smartload test on ms and cs
- [x] attachment => layout meta filed test

## Others
- [x] WooCommerce => random tests
- [x] Version of WordPress => are we sure that everything works, including the customizer, with both 4.8 and 4.9beta4
(see https://github.com/pres

[2017-10-28 14:04] ghost opened #1265 "Desktop width and layout : boxed option ?"
- How complex would it be to propose a boxed layout <=> wrapping header, main content and footer in a predefined width ( default would be 1140px ) ?

[2017-10-28 14:18] ghost opened #1266 "Post / page layout meta box => the default layout in parenthesis should be the post / page default and not the global one."

[2017-10-28 14:40] eri-trabiccolo commented on #1265
Hi

- would rather go with a solution that treats the blocks in a separate way. E.g. This will allow us to add another option to 'contain' the header only. It requires some html changes, but shouldn't be that hard. I guess the slider full in this case will be forced to boxed...
- for that min width only? Shouldn't be a big big issue but that has a slight impact on the image sizes too.
At least.
Ju

[2017-10-28 14:43] eri-trabiccolo commented on #1266
It must, right.

[2017-10-29 16:25] ghost opened #1267 "New release notification displayed again after clicking "close""
After installation of new version the notification keeps showing on admin panel after clicking the (x)

[2017-10-29 16:28] #1267 closed, assigned to nobody

[2017-10-29 17:17] ghost opened #1268 "The comment text area should be white or lighter than now"
![2017-10-29_18-15-18](https://user-images.githubusercontent.com/3038156/32146304-6bcbb844-bcd5-11e7-80a6-0a116edc814d.jpg)

[2017-10-29 17:23] ghost opened #1269 "Idea : port some of the good Hueman widgets to Customizr"

[2017-10-29 17:25] eri-trabiccolo commented on #1268
Ah,
it has the same background of:
- post/page navigation
- related posts (content background)
at least, which is our $grey-latest in scss.

I just write it here in case we want to opt for another grey, to not miss this omogeneity.

[2017-10-29 17:28] ghost commented on #1268
yep, thanks

[2017-10-29 20:38] ghost opened #1271 "Mobile menu : child menu expansion on click. Let's discuss it."

[2017-10-29 20:41] eri-trabiccolo commented on #1271
see:
https://github.com/presscustomizr/customizr/issues/1204

[2017-10-29 20:42] ghost commented on #1204
Ah yep
cool !

[2017-10-29 20:44] ghost commented on #1271
Yeah. added to short term devs.

[2017-10-29 20:46] ghost commented on #1238
Thanks @JTS-IL for this suggestion.
@eri-trabiccolo let's discuss this point during our next meeting.

[2017-10-29 20:51] eri-trabiccolo commented on #1238
the modern style is somewhat already "ready" for this kind of change, because the grid items are "responsive", so we can pretty easily add new aspect ratios (the problem will be with some effects of gc-pro, and for the sticky one).
That was my idea, allow users to choose not the image sizes (min-height as for the classical) but among a set of predefined aspect ratios.
So for the modern is pretty m

[2017-10-29 21:02] ghost opened #1272 "The cards for images and gallery post formats miss the shadow on hover"
In the masonry grid

[2017-10-29 21:54] eri-trabiccolo commented on #1272
they should, I mean they have it, not sure why is not visible.
I think it's a matter of perception, it's too "light", but it's there, but our eyes are not able to really appreciate it because the images are quite dark :)

[2017-10-29 23:32] ghost opened #1273 "slider arrows after click => do not lose the focus and stay darker ( like if we were hovering )"

[2017-10-30 05:23] JTS-IL commented on #1238
For example, my spotter's blog uses the 16:9 format, and most of the airplanes are trimmed (nose and tail).
like here:
http://www.spotting.co.il/airline/wzz/
http://www.spotting.co.il/airline/aua/
http://www.spotting.co.il/airline/bel/
and more

[2017-10-30 09:51] eri-trabiccolo commented on #1273
Yeah, that is how it should be IMHO, because the arrow has the focus and should be accessible with the keyboard, but it's not the case right now, because spans are not links nor buttons.
What I think we should do is to use button tag instead of span: they will be accessible plus semantically correct.
Choose the button instead of a (link) with # href is because of accessibility.
So if you agree I w

[2017-10-30 13:44] ghost opened #1274 "WooCommerce Shopping cart icon : need to be tapped twice on mobile to open the cart page"
I am able to reproduce the bug.
@eri-trabiccolo can you take a look ?

[2017-10-30 13:48] eri-trabiccolo commented on #1274
yep.

[2017-10-30 13:53] ghost commented on #1274
thx

[2017-10-30 13:57] eri-trabiccolo commented on #1274
it acts like a dropdown. i'm on it.

[2017-10-30 13:58] ghost commented on #1274
yes exactly. cool thx

[2017-10-30 14:26] eri-trabiccolo commented on #1173
requested on helpscout too:
https://secure.helpscout.net/conversation/457965433/33899?folderId=607541

[2017-10-30 14:33] cjbatson commented on #1142
Hi everyone! I agree that quotes should be accurate but now my 404 and Search Not Found pages are boring! The quotes were PERFECT for my blog but I agree, I can't have inaccurate quotes!! @Nikeo I hope you guys are going to add some format options etc "insert your quote here" type format options!! Thank everyone and keep up the good work!!

[2017-10-30 14:50] ghost commented on #1142
@cjbatson :)
The customization of the 404 and no results page should be available in future. This is something I've always had in mind.

[2017-10-30 15:07] norbusan commented on #1173
Just to add my 5 Yen, please please ;-)

[2017-10-30 16:04] #1274 closed, assigned to eri-trabiccolo

[2017-11-01 11:16] eri-trabiccolo opened #1277 "Notice: Undefined variable: image in core/front/models/modules/slider/class-model-slider.php on line 323"
previously in https://github.com/presscustomizr/pro-bundle/issues/110

[2017-11-01 20:41] ghost opened #1279 ".singular-info-wrapper should not be printed in home"

[2017-11-01 20:57] eri-trabiccolo commented on #1279
what do you mean? where?

[2017-11-01 20:59] ghost commented on #1279
locally I have it printed on home for some reason. not urgent

[2017-11-01 21:00] eri-trabiccolo commented on #1279
ok, well it might be printed if in a static page

[2017-11-02 03:15] denzelchia opened #1280 "Text in right sidebar is right aligned instead of left ( Modern Style )"
Hi @Nikeo,

This issue is reported in the following support thread.
https://wordpress.org/support/topic/left-align-the-right-sidebar/

I made a test in Modern Style, by using a text widget with some text in paragraph, and deploy it in the right sidebar.

<img width="1670" alt="screen shot 2017-11-02 at 11 08 58 am" src="https://user-images.githubusercontent.com/9284811/32307996-6b4825b0-bfbe-11e7-

[2017-11-02 08:12] ghost commented on #1280
Thank you for reporting this @denzelchia

[2017-11-02 08:16] JTS-IL commented on #1280
Please make sure that fixing it will still right align on RTL sites

[2017-11-02 08:27] #1277 closed, assigned to eri-trabiccolo

[2017-11-02 08:37] eri-trabiccolo commented on #1280
That was a design choice anyway, nothing unexpected. ;)

[2017-11-02 08:47] ghost commented on #1280
yes but I agree that this can be misleading

[2017-11-02 08:53] eri-trabiccolo commented on #1280
sure, just wanted to say it's not a bug :)
Anwyay the code should be ready to accept this change of mind (or an option) easily:
https://github.com/presscustomizr/customizr/blob/dev/core/class-fire-init.php#L50

the CSS is determined by that class, and is rtl compliant.

[2017-11-02 18:10] ghost opened #1281 "4.0.10 release test"
- [ ] - FPU as standalone plugin
- [ ] - Customizr free and pro with a child theme
- [ ] - Customizr Pro Infinite on +  all types of grids +cs + ms
- [ ] - Customizr Pro masonry with and without infinite
- [ ] - Customizr Free smartload disabled + check on post lists various grids + singulars +cs +ms
- [ ] - Customizr Free with centering enabled / disabled. + cs + ms
- [ ] - activate Twenty Sevent

[2017-11-02 18:17] ghost commented on #1281
I'm building the versions

[2017-11-02 18:32] eri-trabiccolo commented on #1281
could you let me know when they're ready, not sure I get notifications because of the overwriting...

[2017-11-02 18:34] ghost commented on #1281
ah sorry they are

[2017-11-02 18:35] ghost commented on #1281
https://github.com/presscustomizr/customizr-pro/releases/tag/v2.0.15
https://github.com/presscustomizr/customizr/releases

[2017-11-02 18:35] ghost commented on #1281
well you know where they are
the builds are done

[2017-11-02 19:00] eri-trabiccolo commented on #1281
- [x] - old php Customizr Free + Pro + cs + ms
- [x] - Customizr Pro masonry with and without infinite
- [x] - Customizr Free and Pro on 4.8.3

FPU placeholders (fresh install) do not seem to be correctly centered on init ONLY when img smartload is disabled ....

[2017-11-02 21:15] ghost opened #1282 "Load mCustomScrollbar asynchronously"

[2017-11-02 21:30] eri-trabiccolo commented on #1282
ah you want to add mCustomScrollbar to 1-cs too, well yeah, would make sense.

[2017-11-02 21:41] eri-trabiccolo commented on #1282
jquery-magnific-popup
is another async candidate, need some small code changes I think, but can be done.
not sure if flickity too.

[2017-11-02 21:50] ghost commented on #1282
yes totally

[2017-11-02 21:52] ghost commented on #1282
flickity is could be, the idea would be to encapsulate the printing of the script in the current fire and include some sort of event emitter at the end of the  flickity js saying " hey I've been loaded, use me"

[2017-11-02 21:59] eri-trabiccolo commented on #1282
like ... https://davidwalsh.name/loading-scripts-jquery

[2017-11-02 22:04] ghost commented on #1282
yes ! perfect

[2017-11-03 15:07] eri-trabiccolo opened #1283 "SVG logo not displayed in modern style"
https://secure.helpscout.net/conversation/460703906/34034?folderId=607541

Flex system doesn't seem to be able to correctly size svg image (which have no width and height).
Even setting, the width and height attribute, the CSS rule "width: auto" (default for the logo image) makes the image to not show (occupies 0 pixels)

We need a solution.

Also the svgs (as img src) do not scale, at least in fl

[2017-11-03 16:11] eri-trabiccolo opened #1284 "Slider images not centered on firefox"
(hard refresh so to not use the cached images):
<img width="949" alt="ff-nocenter" src="https://user-images.githubusercontent.com/7689242/32384023-e8a45dd4-c0b9-11e7-90c4-1c9e1c78520e.png">

Firefox 56.0.2 (64-bit) on Windows

[2017-11-03 19:56] benxaque commented on #1223
Hello friends!!
I have the same problem and i don´t know how to fix it!

Any help are welcome

Notice: WC_Cart::get_cart_url ha quedado obsoleto desde la versión 2.5. Utiliza wc_get_cart_url en su lugar. in /var/www/vhosts/35/208229/webspace/siteapps/WordPress-220203/htdocs/wp-includes/functions.php on line 3831

[2017-11-03 20:31] eri-trabiccolo commented on #1284
locally I can reproduce it with the slider smartload option on.
It doesn't happen with the first slide though (the active one), but all the others are not centered.
The centering for them should happen on:
1) smartload
2) select.flickity

## Let's start with 2)
the second one never happens because it's triggered on the flickity carousel, not on the image, nor the cell (and we listen to the cell).

[2017-11-03 20:44] eri-trabiccolo commented on #1284
Ah, I see, this issue happens (at least) when the responsive image option is enabled and there are responsive images for a given slide (or whatever image), that's why it doesn't happen locally on my first slide => it doesn't have a responsive image.
Anyway we need a fix :D

[2017-11-03 20:50] eri-trabiccolo commented on #1223
Hi there,
the fix will be shipped in the next Customizr theme release.

Anyway on a production website you should not have any warning print ;)

[2017-11-03 22:28] SUGO-es commented on #1223
Exactly, it's annoying in the debug log, but it's a warning, not an error;)

Sorry for my English if it is not very correct.

Best regards.

[2017-11-03 23:26] ghost commented on #1284
Thank you for pointing this + your analysis.
I have fixed the problem. the smartLoad plugin will again potentially trigger the smartload twice + better listening to select.flickity event

[2017-11-03 23:29] #1284 closed, assigned to nobody

[2017-11-04 13:32] benxaque commented on #1223
Thanks very much friends!!!

Gracias a los dos por contestar tan pronto amigos!!!
Tu inglés es más que bueno

Un abrazo desde La Coruña

[2017-11-04 23:51] hahntech commented on #1244
I would really appreciate some help with this one. Not sure where else to get assistance with this. I was able to locate the php file: core/front/models/content/post-metas/class-model-post_metas.php

And I was able to locate and modify the portion of the function that inserts the url link into the author-meta element.

I made changes to the function named: czr_fn_get_meta_author()

Here is the ori

[2017-11-05 13:32] ghost commented on #1272
ok thx

[2017-11-05 13:32] #1272 closed, assigned to nobody

[2017-11-05 13:33] #1268 closed, assigned to nobody

[2017-11-05 13:34] #1236 closed, assigned to nobody

[2017-11-05 13:34] ghost commented on #1236
The notice has been updated in v4.0.10 / v2.0.15

[2017-11-05 15:31] JTS-IL commented on #1236
Just thinking...
Why does a simple user need to edit wp-config.php?
Can't it be a configuration menu switch?

[2017-11-06 09:56] ghost opened #1285 "mCustomScrollbar : the scrollers are positionned at the bottom on the first instantiation"
https://github.com/presscustomizr/customizr-front-js-parts/commit/53bea9fd793c34076266913c619435b091e0150c#commitcomment-25424616

[2017-11-06 10:07] ghost opened #1286 "prevdem => singular => display thumbnail full width"

[2017-11-06 11:51] ghost opened #1287 "Fix label padding for comment text area applied to other inputs"
https://github.com/presscustomizr/customizr/commit/8bc5913725a12e090965117cd8f44fb55fc27d1d#commitcomment-25426803

[2017-11-06 11:54] ghost opened #1288 "Fix input white background applied to unwanted selectors"
https://github.com/presscustomizr/customizr/commit/7e86045a46258c737eeaac46bfd4cf5e9d32ab30#commitcomment-25426822

[2017-11-06 12:56] #1282 closed, assigned to nobody

[2017-11-06 13:02] #1271 closed, assigned to nobody

[2017-11-06 13:03] #1208 closed, assigned to nobody

[2017-11-06 13:31] ghost commented on #1176
Let's postpone those compat check when Bootstrap offical V4 will be released. Hopefully in early 2018.

[2017-11-06 13:48] ghost commented on #1173
# Quick spec

this dev will be done In 2 PRs

## First PR
Add 3 select settings in main-content > Pages & Post layout
- author box
- related posts
- comments ( shared by posts and pages )

Html => blocks are embedded outside the article

adapt models and templates to use the options.

## Second PR

- ubiquity of customizer controls
- shall we create a simple control with small layout icons ?
- sty

[2017-11-06 13:51] ghost commented on #1169
## Design and Effect
- full width search field
- effect is a $.slideUp $.slideDown

##  Potential issues

- logo / title width ?
- from left to right : title /logo [ space ] search icon + menu
- when WooCommerce cart is displayed the order is : title /logo [ space ] search +  cart +  menu

[2017-11-06 14:03] Nikeo commented on #1265
@media (min-width: 1200px)
style.css?ver=4…1509976964:460
.container {
    width: 1140px;
    max-width: 100%;
}
@media (min-width: 992px)
style.css?ver=4…1509976798:453
.container {
    width: 960px;
    max-width: 100%;
}

@media (min-width: 768px)
style.css?ver=4…1509976964:446
.container {
    width: 720px;
    max-width: 100%;
}

@media (min-width: 576px)
style.css?ver=4…1509976964:439
.conta

[2017-11-06 14:13] ghost commented on #1265
# Spec

Simple boxed option on page wrap, like

[code]

## Issues

- sticky header to adapt

[2017-11-06 14:25] eri-trabiccolo opened #1289 "Fix Blog page displaying first post excerpt as archive description"
This issue has been highlighted by visual composer plugin.
https://secure.helpscout.net/conversation/457656385/33886?folderId=607709

We should override the global $post if we want to keep the feature of showing the posts page excerpt as archive description, as setup_postdata doesn't do it by default:
https://github.com/presscustomizr/customizr/blob/v4.0.10/core/front/models/content/post-lists/hea

[2017-11-06 14:29] #1288 closed, assigned to nobody

[2017-11-06 14:34] #1287 closed, assigned to nobody

[2017-11-06 14:36] #1289 closed, assigned to nobody

[2017-11-06 14:58] #1285 closed, assigned to nobody

[2017-11-08 11:09] eri-trabiccolo opened #1293 "Main slider captions overlapping on page load"
Reported here:
https://secure.helpscout.net/conversation/462551520/34125?folderId=607709

I cannot reproduce it on my end, though is visible on the user's website.
What is actually weird is that the slides should not be visible because of the loader overlapping them.
But it seems that in this case the slider loader appears with a certain delay. Most likely due to the caching/concatenating plugin i

[2017-11-09 23:30] ghost opened #1294 "Why is "You may also like" not translated in French ?"
http://unenantaisedigitale.fr/vivre-centre-ville-inconvenients/

https://translate.wordpress.org/projects/wp-themes/customizr/fr/default?filters%5Bterm%5D=ALSO+LIKE&filters%5Buser_login%5D=&filters%5Bstatus%5D=current_or_waiting_or_fuzzy_or_untranslated&filter=Filter&sort%5Bby%5D=priority&sort%5Bhow%5D=desc

[2017-11-10 08:12] eri-trabiccolo commented on #1294
I think because the french locale completion percentage is under the needed threshold (>90%?) to re-generate the locale lang pack.
I just switched locally to french, updated translations and can see that that string is not translated in my
wp-content/languages/themes/customizr-fr_FR.po

[2017-11-10 08:14] ghost commented on #1294
ah yeah that's why, my fault, I need to bring it back to 95%+
thanks !

[2017-11-10 12:39] eri-trabiccolo opened #1295 "Search form label color doesn't reflect header custom skin"
Probably due to the latest changes to the form elements:
<img width="822" alt="2017-11-10_13-38-35" src="https://user-images.githubusercontent.com/7689242/32658921-81477d3e-c61c-11e7-96c2-5bf703cd13ee.png">

[2017-11-10 13:44] eri-trabiccolo commented on #1295
fix proposal in https://github.com/eri-trabiccolo/customizr/commit/0e0c573609789e7a82dd2806e647f4291bd0b593

[2017-11-10 14:13] #1266 closed, assigned to eri-trabiccolo

[2017-11-10 14:16] #1295 closed, assigned to nobody

[2017-11-10 14:17] #1293 closed, assigned to eri-trabiccolo

[2017-11-10 19:43] hahntech commented on #1244
I have a potential solution to this issue. I was able to take a copy of the file I listed above 'class-model-post-metas.php' and place that in my child theme using the same directory structure. I then modified the file to check if the user level of the post 'author' is set to subscriber. If so, I strip out the href. Otherwise, normal behavior is performed.

The reason for this is that when adding

[2017-11-11 16:46] ghost commented on #1250
example

https://freeyourselffromyourjob.com/ using https://fr.wordpress.org/plugins/q2w3-fixed-widget/

[2017-11-14 12:49] ghost opened #1298 "Broken WooCommerce checkout page on Mobile device. TablePress conflict ?"
https://wordpress.org/support/topic/broken-order-review-on-mobile-device-2/#post-9681058

[2017-11-14 20:16] ghost opened #1299 "CTA slider button => white-space: nowrap can hide long text"
@eri-trabiccolo was there a particular reason why we kept the` white-space: nowrap;` rule there ?

Reported by a user on facebook

[2017-11-14 20:25] eri-trabiccolo commented on #1299
Mmm not really on purpose I think. Most likely because bs did so for .btn

[2017-11-14 20:44] ghost commented on #1299
OK, yes thanks

[2017-11-15 09:48] ghost opened #1300 "WordPress gallery widget is broken"
![gallery_widget_broken](https://user-images.githubusercontent.com/3038156/32829501-8fda3a06-c9f2-11e7-8db8-f1dc36211eb1.png)

[2017-11-15 10:25] eri-trabiccolo commented on #1300
Yes I expected it...
Should only affect the modern... no?
But honestly I don't have a clear idea on how to fix this, unless there's a way to understand if we are in a sidebar or not.
They just did something wrong :(

[2017-11-15 10:58] PeopleInside commented on #1016
Seems easy to reproduce with Firefox 57 incognito mode by visiting http://www.peopleinside.it
![screen](https://user-images.githubusercontent.com/5006150/32832564-340c2d6a-c9fc-11e7-98ab-8debb3b56aba.png)

[2017-11-15 11:17] eri-trabiccolo opened #1302 "Mobile menu: we should not display it if no menu && not search displayed in it"
Also:
https://github.com/presscustomizr/customizr/blob/dev/core/front/controllers/class-controller-header.php#L104

CZR_controller_header->czr_fn_display_view_mobile_search()

doesn't exist anymore, so if we select to not display any menu, that will trigger a fatal error.

I push a small fix for the latest, but fixing the "main" issue would require some time...

[2017-11-15 14:30] ghost commented on #1302
ok good catch thanks.
Merged

[2017-11-15 14:47] #1302 closed, assigned to nobody

[2017-11-15 17:08] eri-trabiccolo opened #1304 "Related posts right after the content with two sidebars should have free height"
It's like this at the moment:
<img width="307" alt="wrong" src="https://user-images.githubusercontent.com/7689242/32849297-067fee94-ca2f-11e7-8a4c-c2e83b9a4cc7.png">

Should be like this:
<img width="333" alt="good" src="https://user-images.githubusercontent.com/7689242/32849303-0a3c2516-ca2f-11e7-9a20-810b7124c504.png">

The easiest way to achieve that is by scoping some CSS rules:
https://github

[2017-11-15 19:51] eri-trabiccolo commented on #1298
I tested some stuff and found the culprit plugin:
https://wordpress.org/plugins/custom-registration-form-builder-with-submission-manager/

I tested it with classical style, hueman and twentyseventeen too.
Same result (twentyseventeen):
<img width="884" alt="broken-table" src="https://user-images.githubusercontent.com/7689242/32856893-72f59300-ca46-11e7-8bb9-9ad219166b81.png">

see removing that di

[2017-11-16 08:38] ghost opened #1305 "Feature request : Buddypress profile field display in two columns instead of just single column."

[2017-11-16 10:17] eri-trabiccolo commented on #1305
For what I can see, if the user is talking about something like this (when referring to the two columns display in twentyseventeen):
<img width="498" alt="bpress" src="https://user-images.githubusercontent.com/7689242/32883678-4c799bd2-cab8-11e7-89f5-80b451ccb46e.png">

That is true only when in twentyseventeen the pages (all the pages) layout is set to 1 column (no sidebars).
We can do it, using

[2017-11-16 13:04] ghost opened #1306 "Comment form location => new option to change the location ?"

[2017-11-16 13:28] eri-trabiccolo commented on #1306
what do you mean?
In 1-cs it is (and has always been so)
in 2-ms it's not the default for old users.

Do you mean as first element before author or related posts?

[2017-11-16 21:23] ghost opened #1307 "Gallery compat with jetpack ?"

[2017-11-16 21:43] eri-trabiccolo commented on #1307
I will look for the jetpack compatibility, but anyways the Customizr
gallery can be disabled with the proper option.
In mobiles, as of now, the user doesn't use the Customizr theme but the
jetpack's mobile theme.

So one of the two is not an issue, the other is something the user should be able to avoid disabling the theme's gallery.

Il 16 nov 2017 10:23 PM, "Nicolas Guillaume (@nikeo on wp.org)"

[2017-11-19 09:15] ghost commented on #1307
Following up with the bug report

[2017-11-19 21:41] RobinKuiper commented on #1181
Or at least a custom size on mobile.

[2017-11-20 12:41] ghost opened #1308 "Errors when activating the theme"
![2017-11-20_13-37-39](https://user-images.githubusercontent.com/3038156/33018860-58f92c4a-cdf8-11e7-963d-71dafd87d85f.png)
![2017-11-20_13-38-18](https://user-images.githubusercontent.com/3038156/33018861-5911c908-cdf8-11e7-99e3-3415bfa8a3b0.png)

[2017-11-20 14:16] #1298 closed, assigned to nobody

[2017-11-20 14:20] #1173 closed, assigned to nobody

[2017-11-20 15:16] ghost commented on #1308
@eri-trabiccolo could you please let me know if you can reproduce the problem. And if it occurs only with our themes ? Thx
( when you get the chance, no hurry )

[2017-11-20 15:27] eri-trabiccolo commented on #1308
I cannot reproduce it actually.
:/

[2017-11-20 16:02] ghost commented on #1308
OK that's actually not a bad news. There must be something wrong on my local install then.

[2017-11-20 16:17] eri-trabiccolo commented on #1308
Let's hope! :)

Il 20 nov 2017 5:02 PM, "Nicolas Guillaume (@nikeo on wp.org)" <
notifications@github.com> ha scritto:

[2017-11-21 03:36] denzelchia opened #1309 "CSS issue - text-transform applied on category widget title when used in footer"
Hi @Nikeo

This happens in Modern style.
When a category widget is deployed in footer widget area, the category widget title gets text-transformed to upper-case.

This does not happen to Recent posts widget and Recent comments widget, therefore I assume it's a css bug.

This issue is reported by customer on helpscout.
https://secure.helpscout.net/conversation/471844718/34630?folderId=607541#thread

[2017-11-21 04:22] denzelchia opened #1310 "["

[2017-11-21 04:27] denzelchia opened #1311 "[ Customizr Pro Theme ] Featured pages layout option disappears after making selection"
Hi @Nikeo

I stumbled upon this during answering a support question regarding featured pages in Customizr Pro Theme.

In Appearance -> Customize -> Main Content -> Featured Pages
The option -> Featured pages layout, will disappear after you make a selection.

It will appear after you publish changes, get out of customizer and then re-visit the option in customizer.

Please see my screen-cast.
http

[2017-11-21 04:29] #1310 closed, assigned to nobody

[2017-11-21 07:28] ghost commented on #1311
OK thanks for reporting the problem @denzelchia !

[2017-11-21 08:32] eri-trabiccolo commented on #1309
Thanks Denzel.
PR pushed ;)

[2017-11-21 08:45] eri-trabiccolo commented on #1311
weird that it doesn't happen when you set 4 fps per row...

[2017-11-21 08:51] eri-trabiccolo commented on #1311
Well, not that weird if we consider this:
https://github.com/presscustomizr/tc-unlimited-featured-pages/blob/dev/back/assets/js/fpu-customizer-control.js#L70

[code]

mah :)

[2017-11-21 17:15] PeopleInside opened #1313 "[mixed content issue] use relative URL"
Hi,
I have a Wordpress website that is not HTTP but is HTTPS on login page and also if HTTPS is not forced the website can be loaded from HTTP or HTTPS.

Image logo etc loaded by the theme can be with relative URL? So will load image under HTTP if the website is HTTP and under HTTPS if the website is under HTTPS.

[2017-11-21 22:58] FabriceAllard commented on #1309
Hello guys,

I've reported this bug in the product support yesterday evening and I'm wanted to thank you all for your quick reply and fix.
I really appreciate your work and therefore I'm happy to have invested in this plugin.

All the best,
Fabrice

[2017-11-22 01:56] norbusan commented on #1173
Thanks a lot

[2017-11-22 02:54] denzelchia commented on #1309
Hi @FabriceAllard

Thank you! I glad to be of some help.

A big thank you to @eri-trabiccolo too! :)

[2017-11-22 14:12] eri-trabiccolo commented on #1306
Comment form should be always displayed before the list of comments.

[2017-11-22 14:34] eri-trabiccolo commented on #1265
(make a first a prototype)

[2017-11-22 15:50] #1169 closed, assigned to eri-trabiccolo

[2017-11-22 20:21] eri-trabiccolo commented on #1304
My first way to scope the CSS rules was wrong because, of course, the rule `#content:not(.col-md-6) & section.entry-content__holder` would not apply to the related posts when outside the `#content` :D
Anyway, done.

[2017-11-22 21:57] ghost commented on #1304
ok. fine thanks

[2017-11-23 08:25] eri-trabiccolo commented on #1311
I close this here as it pertains to fpu:
https://github.com/presscustomizr/tc-unlimited-featured-pages/issues/107

Thanks Denzel!

[2017-11-23 08:25] #1311 closed, assigned to nobody

[2017-11-23 18:57] eri-trabiccolo opened #1317 "Slider metabox should not be displayed in attachments that are not images!"
As at the moment, e.g., videos are not taken in account as slides.

[2017-11-23 22:25] PeopleInside commented on #1016
https://github.com/webcompat/web-bugs/issues/9367

[2017-11-24 13:12] ghost commented on #1202
@eri-trabiccolo can you terminate this one ?

[2017-11-24 13:17] ghost commented on #1283
OK.
Do you think there's a quick win solution allowing us to maintain the svg upload ?
Is there a solution available : https://css-tricks.com/snippets/wordpress/allow-svg-through-wordpress-media-uploader/

Or would it be safer to simply not allow theme anymore for now ?

[2017-11-24 13:28] #686 closed

[2017-11-24 13:30] ghost commented on #686
I'm closing this issue for now.
The current behaviour is not the ideal one but it's a good compromise. Changing this would require too much coding for what is for the moment an edge case => not enough complains about this.

[2017-11-24 13:52] eri-trabiccolo commented on #1265
first prototype branch can be found here:
https://github.com/eri-trabiccolo/customizr/tree/boxed-layout
(css and php files are not concatenated there)

[2017-11-24 13:54] ghost commented on #1265
OK cool.
Can you create a beta PR with it ?

[2017-11-24 13:57] eri-trabiccolo commented on #1283
Not sure what you mean with that link ... :/
We already use that filter.

The problem is not that users are not able to upload an svg, but that svgs and flexbox don't work fine together...

Not allowing svg would be fine for me, but I don't know what will happen if a user already has an svg set as logo.

[2017-11-24 13:59] eri-trabiccolo commented on #1202
Just have to test all the h* so verify I didn't miss anything.

[2017-11-24 14:02] #1283 closed, assigned to nobody

[2017-11-24 14:03] ghost opened #1319 "Can we easily drop svg upload support ?"
following this https://github.com/presscustomizr/customizr/issues/1283#issuecomment-346834337

[2017-11-24 14:22] giorgioriccardi commented on #1283
We could point users to use their own snippet to support SVG... easier than dragging all the hassle of handling SVG support:
`function cc_mime_types($mimes) {
  $mimes['svg'] = 'image/svg+xml';
  return $mimes;
}
add_filter('upload_mimes', 'cc_mime_types');`

[2017-11-24 14:32] giorgioriccardi commented on #1283
dunno, maybe this tread helps... height in vh:
https://stackoverflow.com/questions/37242454/containing-a-svg-image-within-flexbox

[2017-11-24 14:46] ghost commented on #1265
## padding
- .container selector should have a padding of 30px left and right , instead 15px currently => potential side effects ?

## customizer options
There should one main setting, let's say "Site layout", a select input with 2 options : Wide (default) and Boxed
When Wide is selected, two selectsub-settings are available
- Tobpar layout
- Main Header layout
- Footer Credits layout

[2017-11-24 17:54] eri-trabiccolo commented on #1313
Hi Marco,
the support team handles the support on the wp.org forum.
As general rule would you mind opening a topic there?

About your issue, anyway, I'm not sure it's theme related.
The theme always loads the logo in the header with the correct protocol as far as I can see.
Are we talking about that?

If you're talking about a logo in the login page, well ... the theme doesn't handle the login pag

[2017-11-24 18:03] PeopleInside commented on #1313
Hi @eri-trabiccolo,

Yes, how you can know that?

I tested now and seems the two logo icon that I set on Customizr are loaded as http under https administration page.

In the visitor side seems you are correct.

[2017-11-24 18:30] eri-trabiccolo commented on #1313
Do you mean in Appearance -> Customize?

[2017-11-24 18:32] PeopleInside commented on #1313
When I AM on the admin area I see warning mixed content so I check with Firefox and the http file are the logo icon that is used by the theme Customizr

[2017-11-24 18:35] PeopleInside commented on #1313
In any case this issue I AM not sure if can be or not from the theme and can be resolved with .htaccess rule so I will close this.

In a website where always https is forced the issue is not present only if visitor side site support http and https and https is forced on admin side.

[2017-11-24 18:35] #1313 closed, assigned to nobody

[2017-11-27 04:04] denzelchia opened #1320 "[ Customizr Pro Theme ] Front page content category filter option not working"
Hi @Nikeo ,

Please refer to the following ticket on helpscout.
https://secure.helpscout.net/conversation/474175016/34788?folderId=631714

I am able to replicate customer's issue, using information provided by customer in his latest reply.

This happens in classical design.
In my current test, I do not have any sticky posts, I am using grid layout with grid customizer enabled.
I have posts attache

[2017-11-27 07:53] eri-trabiccolo commented on #1320
Hi Denzel,
yes I can reproduce this too, under the following conditions:
1) classical style
2) classical grid post list layout
3) infinite scroll enabled in home/blog

same for you?

[2017-11-27 09:08] eri-trabiccolo opened #1321 "Maybe re-introduce sticky logo option for modern style?"
We had quite a few requests (though not so many) in that sense e.g.:
https://secure.helpscout.net/conversation/474972974/34866?folderId=607709

[2017-11-27 09:19] denzelchia commented on #1320
Hi Rocco,

Yes, under the same conditions as listed by you.

Thank you

[2017-11-27 10:23] ghost commented on #1321
Why not, but #1184 is more urgent

[2017-11-27 10:32] eri-trabiccolo opened #1322 "Improve html compliance"
(reported: https://secure.helpscout.net/conversation/474198049/34793?folderId=607709)

If we analyze this:
https://validator.w3.org/nu/?doc=https%3A%2F%2Fdemo.presscustomizr.com%2F

We can see:
- 2 errors: the first one on the role attribute for a div is related to the fact that we have an aria-attribute (in this case a role attribute is mandatory, we could use "navigation"); the second one is tre

[2017-11-27 16:07] eri-trabiccolo commented on #1144
Something similar here:
https://secure.helpscout.net/conversation/475403011/34900?folderId=607709

Actually here the issue is pretty simple.
The plugin's bootstrap js collapse overrides our one.
In bs 3 the collapse active elements had the `in` class added, while in bs 4 they have` show`.
Plus the plugin "scopes" its bootstrap CSS (but not the js), so what happens is the following:
1) clicking on

[2017-11-27 20:20] ghost commented on #1320
@denzelchia thank you for the detail report and screencast. It helps. @eri-trabiccolo let's schedule a fix for this for the upcoming release. We'll discuss it during the next dev point.
@denzelchia if the user ask for an estimated time of arrival for the fix, you can reply that it should be fixed in the coming days.

[2017-11-28 02:35] denzelchia commented on #1320
@Nikeo

Ok, will let customer know if he ask for an estimate time of completion.
Thank you for the update.

[2017-11-28 08:06] eri-trabiccolo commented on #1320
@Nikeo
actually we did it on purpose because it caused a more important issue as far as I remember. https://github.com/presscustomizr/customizr/blob/v4.0.13/core/init-base.php#L621
So it might take some time.

[2017-11-28 08:18] ghost commented on #1320
@eri-trabiccolo I remember this issue. A first simple fix could simply be to add a notice explaining the problem below the category filter control for Customizr Pro.

[2017-11-28 14:27] eri-trabiccolo commented on #1265
Another PR pushed (https://github.com/presscustomizr/customizr/pull/1323)
Things you might want to verify in boxed mode:
- ~~when main header (and or site layout) section is boxed: mobile dropdown search and collapsing menu width when ww > 565px (tablets). To me it's fine that it doesn't take the whole header width but the "contained" one~~:
<img width="582" alt="example" src="https://user-images.

[2017-11-28 15:04] PeopleInside commented on #1016
Thank you for take care about this.
I AM trying in all this days to solve this issue but was not able to do and to find any other help.

I created a new Wordpress install Today for test the issue without plugin and to made possibile by you to see the issue.

Access to the Wordpress website was sent to your email address.
Web address is https://customizr.peopleinside.it

Hope this will help to unde

[2017-11-29 08:02] ghost commented on #1015
- how to create slide with Youtube / Vimeo video ?
- retro-compat with previously built slider

[2017-11-30 08:26] eri-trabiccolo opened #1324 "Search icon doesn't appear in the topbar"
https://secure.helpscout.net/conversation/477399747/35013?folderId=607541

[2017-12-01 10:36] eri-trabiccolo opened #1326 "Maybe open submenus on the left by default when primary horizontal menu aligned to the right?"
https://secure.helpscout.net/conversation/478440896/35082?folderId=607541

[2017-12-01 14:31] eri-trabiccolo commented on #1326
Additionally: do we want to exclude the first level menu items arrow flip? Doesn't seem to have very sense actually to have this flip there as the dropdown, whether it opens on the right or on the left, will still be placed right below the menu item.

[2017-12-01 17:44] PeopleInside commented on #1016
For Christmas I hope I can get an update that can fix this issue.
More late I hope not over March... this seems to be a theme visual bug that is very evident on my websites.

So for let you have less work I worked for you to create a test blog ( https://customizr.peopleinside.it )
and I sent also credentials on ticket that you confirmed to have received.

I can imagine you have a lot of work and t

[2017-12-03 13:42] ghost opened #1327 "Conflict with plugin : All In One Schema Rich Snippets"
https://secure.helpscout.net/conversation/479177199/35126?folderId=607541

[2017-12-04 10:07] PeopleInside commented on #1016
A suggestion has come from: https://github.com/webcompat/web-bugs/issues/9367#issuecomment-348822829

I asked on stackoverflow but no solution.
https://stackoverflow.com/questions/47485935/wordpress-theme-issue-on-first-load-elements-under-header-can-you-help-me

[2017-12-04 15:20] ElectricFeet opened #1328 "retina.js: Browser warns that getAttributeNode() is deprecated"
Hi there,
I'm getting a browser warning (FF 57.0 / MacOS 10.13.1):

retina.js seems to be the culprit.

[2017-12-04 15:48] ElectricFeet commented on #1328
And https://github.com/strues/retinajs doesn't use `getAttributeNode()` any more, so maybe it's just a simple(ha!) matter of updating retina.js.

[2017-12-04 16:01] eri-trabiccolo commented on #1328
Thanks @ElectricFeet
glad to see you :D

TODO:
Update retina.js

[2017-12-04 16:14] ElectricFeet commented on #1328
You too! :))

[2017-12-05 10:17] eri-trabiccolo commented on #1327
Actually I've been not able to reproduce the issue with that plugin only.
The issue might be due to another plugin then...

[2017-12-05 22:03] PeopleInside commented on #1016
I do not know if can be useful:
https://css-tricks.com/forums/topic/wordpress-theme-issue-on-first-load-elements-under-header-can-you-help-me/#post-263444

I do not understand how to try the fix I will try to ask more.

[2017-12-05 23:10] PeopleInside commented on #1016
Until this will be not fixed I used the fix (that seems work) on all my websites

https://css-tricks.com/forums/topic/wordpress-theme-issue-on-first-load-elements-under-header-can-you-help-me/#post-263444

The fix works.
I will keep online the demo with the unfixed bug/issue at https://customizr.peopleinside.it until the end of Jenuary.
After this date I will close also this demo and maybe I will

[2017-12-09 15:47] ElectricFeet commented on #712
I had this in another theme where I had some functions.php code that removed the featured images from posts and pages. I hadn't realised that the woocommerce product pages fire `is_single()`. Resolved with `is_single() && (! is_product() )`. Could be this have been the cause?

I'd close this after a year without any more info.

[2017-12-10 16:30] ghost opened #1329 "Smooth Scroll : clearly differentiate the two options : scrolling and anchor link"

[2017-12-11 10:21] ghost commented on #1014
+spec
https://secure.helpscout.net/conversation/484266226/35377?folderId=607547

[2017-12-12 11:28] ghost opened #1330 "Problem with Customizr Modern when sending a form with Contact Form 7 ?"
# THEME | VERSION : customizr | v4.0.13# WP VERSION : 4.9.1

- Contact Form 7: 4.9.2
- Contact Form 7 Conditional Fields: 1.3.4
- Contact Form 7 Signature Addon: 4.2
- Contact Form 7 Style: 3.1.6

https://secure.helpscout.net/conversation/484872674/35406?folderId=610151

[2017-12-12 11:34] ghost commented on #1330
@eri-trabiccolo can you take a look on your side when you get the chance ?
thanks

[2017-12-12 13:11] eri-trabiccolo commented on #1330
Yeah sure, I will.

Il 12 dic 2017 12:34 PM, "Nicolas Guillaume (@nikeo on wp.org)" <
notifications@github.com> ha scritto:

[2017-12-12 15:24] eri-trabiccolo commented on #1330
So I made some tests with the above plugins installed and applied to my contact form. I couldn't reproduce the issue on my end. The conflict might be with some other plugin then.
p.s. I cannot access the hs ticket.

[2017-12-13 14:27] ghost commented on #1330
Ah  yes, this issue was send on the contact form, that's why you can't access it.

Thanks for your tests.

[2017-12-13 21:37] eri-trabiccolo opened #1331 "Long mobile menu and sticky header issue when scrolling"
https://secure.helpscout.net/conversation/485980312/35467?folderId=607709

Basically the collapsing menu max-height of 90vh is too much, in a situation where there's a pretty big tagline some menu items become not accessible at all, as we collapse the menu on scrolling.

We should set this max-height dynamically when the "show" event occurs.

[2017-12-14 15:57] eri-trabiccolo opened #1332 "Implement footer skin as we did for the header"
Maybe with specific bg/fg colors for the colophon too.

requested here:
https://secure.helpscout.net/conversation/486857222/35516?folderId=607541

[2017-12-15 07:39] ghost commented on #1053
Another user requesting it here
https://secure.helpscout.net/conversation/486186856/35482/?folderId=607547

[2017-12-19 07:36] ghost opened #1333 "Desktop submenu snake : when parent item is the last of a column, its child submenu block can be difficult to access"
http://www.ipnetsolusindo.com/

Steps to reproduce on http://www.ipnetsolusindo.com/ and following screenshot below

1. Hover on Services menu item in the orange box
2. Hover on Service Provider Solution in the violet box
3. Try to access the red block => difficult, it's easy to lose everything

=> The red child block should be pulled up.

![menu_problem](https://user-images.githubusercontent.com/

[2017-12-19 07:42] eri-trabiccolo commented on #1333
Not sure I get, you mean that the submenu "top" at the middle of the parent menu item makes it hard to be accessed?
Maybe a top of 10px instead of 55% would be better.

[2017-12-19 07:53] ghost commented on #1333
I've updated the description.
To be discussed during our point anyway

[2017-12-19 08:00] eri-trabiccolo commented on #1333
Ah ok, yes, so I got, and I agree.
Should be pulled up, I think a top of 10px is fine. Consider that in the first design draft that top was 100% :|

[2017-12-20 09:30] ghost opened #1334 "Vertical menu drodown => mobile => the nav height should adapt to expanded submenus."
![submenus](https://user-images.githubusercontent.com/3038156/34200282-c2e0796c-e570-11e7-9762-351e28c711c7.gif)

[2017-12-20 10:04] #1309 closed, assigned to eri-trabiccolo

[2017-12-20 10:04] #1299 closed, assigned to nobody

[2017-12-20 10:04] #1306 closed, assigned to nobody

[2017-12-20 10:04] #1304 closed, assigned to eri-trabiccolo

[2017-12-20 10:04] #1324 closed, assigned to nobody

[2017-12-20 10:47] eri-trabiccolo commented on #1334
Nico I'm not able to reproduce this issue, neither the one with the sidenav. I tried with 7 levels.
Can you still reproduce it?

[2017-12-20 10:53] ghost commented on #1334
No I can't reproduce it anymore.
It was related to the customScrollBar bug before I did the last build I think.
All good sorry for the wrong alert !

[2017-12-20 10:53] #1334 closed, assigned to eri-trabiccolo

[2017-12-20 11:18] eri-trabiccolo commented on #1334
Oh, no problem.

Good it's sorted!

[2017-12-20 13:16] eri-trabiccolo commented on #1331
fixed in https://github.com/eri-trabiccolo/customizr-front-js-parts/commit/c8e403c798e239fe6cf7c0f382658203e542df01

minor css improvement here:
https://github.com/eri-trabiccolo/customizr/commit/e51d897c156bdfa7e97e9a0c80e97c39e93d04da

[2017-12-20 13:34] #1333 closed, assigned to eri-trabiccolo

[2017-12-20 13:43] #1331 closed, assigned to nobody

[2017-12-20 13:56] eri-trabiccolo commented on #1317
@Nikeo
I realized this bug has been recently introduced.

I'm about to submit a fix.

[2017-12-20 13:57] ghost commented on #1317
@eri-trabiccolo ok

[2017-12-20 14:11] ghost commented on #1014
+ additional feature
 => allow user to use colored icons with a vivid effect instead of an image

[2017-12-20 14:13] eri-trabiccolo commented on #1326
about the comment above, what do you think about this @Nikeo
https://github.com/presscustomizr/customizr-front-js-parts/pull/26
to me is better...

[2017-12-20 14:30] ghost commented on #1326
yep let's go this way

[2017-12-20 14:55] #1317 closed, assigned to nobody

[2017-12-20 20:41] ghost opened #1339 "Side menu : font too big + word-break: break-all might not be the best solution"
https://demo.presscustomizr.com/
![2017-12-20_21-38-17](https://user-images.githubusercontent.com/3038156/34227730-77918484-e5ce-11e7-90df-c74242f4d814.png)

[2017-12-20 20:52] eri-trabiccolo commented on #1339
break-word would be better maybe, because we still have to handle edge cases.
Unless we want to apply some sort of "fittext" (per menu-item?) we cannot cover everything.
A fine tuning in CSS, case by case, is needed. This is where WFC can help.
IMHO

[2017-12-21 10:23] eri-trabiccolo opened #1340 "WooCommerce: Terms and Condition checkbox in Checkout page is not really visible"
reported here on HelpScout, but the user is running the Customizr (non Pro) theme:
https://secure.helpscout.net/conversation/491171725/35742?folderId=607541)

<img width="623" alt="2017-12-21_11-21-52" src="https://user-images.githubusercontent.com/7689242/34252229-11feae06-e643-11e7-8ce4-3215729717f8.png">

[2017-12-21 13:17] ghost opened #1342 "body background could be useful with the new boxed layout"

[2017-12-22 20:22] #1340 closed, assigned to eri-trabiccolo

[2017-12-22 20:38] ghost opened #1343 "a desktop side menu should collapse on resize if it was expanded"

[2017-12-22 21:29] #1339 closed, assigned to nobody

[2017-12-23 07:10] eri-trabiccolo commented on #1343
Yeah,
IMHO should collapse when reaching the "mobile" breakpoint.

[2017-12-24 08:17] ghost opened #1344 "Problem with structured data ?"
https://www.idblog.net/

[2017-12-24 18:22] ghost opened #1345 "header should be boxed on prevdem mode"
https://wp-themes.com/customizr

[2017-12-27 01:42] denzelchia opened #1346 "[ Customizr Pro 2.0.20 ] Headers already output error in WordPress admin"
Hi @Nikeo and @eri-trabiccolo

Following errors appearance in WordPress admin after updating to 2.0.20, with WP_DEBUG turn on.

<b>Warning</b>:  Cannot modify header information - headers already sent by (output started at /Applications/MAMP/htdocs/customizr-pro-modern/wp-content/themes/customizr-pro/addons/wfc/back/classes/class_admin_font_customizer.php:2) in <b>/Applications/MAMP/htdocs/customi

[2017-12-27 01:59] denzelchia opened #1347 "[ Customizr Pro 2.0.20 ] Customizer error message when publishing"
Hi @Nikeo and @eri-trabiccolo

In Customizer the following message will appearance when you click on Publish.

Please see my screen-cast
https://screencast-o-matic.com/watch/cbltVP2RkE

I have clear browser history and no plugins activated when doing this screen-cast.

This issue also needs immediate attention.

Thank you

[2017-12-27 02:12] denzelchia commented on #1346
Hi,

Customers are starting to report this issue on helpscout
https://secure.helpscout.net/conversation/494007651/35894/?folderId=631714#thread-1339777160

Thank you

[2017-12-27 02:32] denzelchia commented on #1346
Hi,

Update to my findings.
This issue is affecting the following features in WordPress admin.

1) Unable to edit or create new post or page.
2) Media library does not load images.

Thank you

[2017-12-27 07:25] eri-trabiccolo commented on #1346
Hi @denzelchia thanks!
@nikeo https://github.com/presscustomizr/wordpress-font-customizer/blob/916acd007c995f3149126c3400b4892361cf4749/back/classes/class_admin_font_customizer.php#L1
(Unwanted blank line).
This kind of error anyways doesn't happen to all users (e.g. doesn't happen here, I have to force PHP to report this error)

[2017-12-27 07:51] ghost commented on #1346
@denzelchia @eri-trabiccolo thanks
I'm on it. building a new version after fixing the blank line problem.

[2017-12-27 07:53] ghost opened #1348 "Test process : always make sure we don't miss before build "Warning: Cannot modify header information - headers already sent by""
To be discussed @eri-trabiccolo during our next point
Thx
https://github.com/presscustomizr/customizr/issues/1346

[2017-12-27 08:29] eri-trabiccolo commented on #1348
The only way I have to "catch" it at the moment is by disabling the output buffering in php.ini
`output_buffering: Off`

will see if I can find something else

[2017-12-27 08:31] ghost commented on #1347
@eri-trabiccolo are you able to reproduce the described issue in [v2.0.21](https://github.com/presscustomizr/customizr-pro/releases/tag/v2.0.21) ?

[2017-12-27 08:49] eri-trabiccolo commented on #1347
The headers already sent?
https://github.com/presscustomizr/customizr/issues/1348#issuecomment-354075105

For this specific issue reported by Denzel here, nope, I guess is still related to the headers already sent issue...

[2017-12-27 08:53] ghost commented on #1347
hopefully yes it should be related to this issue, but I wanted to have another feedback

[2017-12-27 08:58] ghost commented on #1347
let's say normally instead of hoppefully

[2017-12-27 21:43] cjamin commented on #1294
Could it be related to #1201?

[2017-12-28 02:10] denzelchia commented on #1346
Hi @Nikeo ,

Thank you.
No more headers already sent error in v 2.0.21

Thank you

[2017-12-28 02:12] denzelchia commented on #1347
Hi @Nikeo ,

Customizer saving properly now.
I am not seeing the error message in v 2.0.21

Thank you

[2017-12-28 03:24] denzelchia opened #1349 "[ Customizr Pro ] Font Customizer Menu Items"
Hi @Nikeo and @eri-trabiccolo

In Customizr Pro, modern style.
The menu items style in font customizer does not apply to menu items with sub-menu, if the option Expand submenus on click is selected.

For example, to replicate issue.
Go to Appearance -> Customize -> Header Design settings for smartphones and tablets
Find the setting -> Expand submenus on click
Check this option and save changes.

N

[2017-12-28 09:27] eri-trabiccolo commented on #1347
Hi @denzelchia thanks for the feedback!

[2017-12-28 09:27] #1347 closed, assigned to nobody

[2017-12-28 09:28] eri-trabiccolo commented on #1346
Thank you Denzel!

[2017-12-28 09:28] #1346 closed, assigned to nobody

[2017-12-28 09:39] eri-trabiccolo commented on #1349
Hi Denzel,
you're right, thanks for reporting this!
I move this in the WFC repo.

[2017-12-28 09:39] #1349 closed, assigned to nobody

[2017-12-29 09:15] eri-trabiccolo opened #1350 "Footer credits WP icon font-family can be overridden by WFC"
https://github.com/presscustomizr/wordpress-font-customizer/issues/79

[2017-12-31 08:16] ghost opened #1352 "Woocommerce template issue?"

[2017-12-31 08:29] ghost opened #1353 "elementor issue with page attributes"

[2017-12-31 09:03] eri-trabiccolo commented on #1352
Might be an ajax add to cart issue (in single products WC doesn't use ajax when clicking on the add to cart button).
Anyway I cannot reproduce the issue here (not in the demo). Do we have the user website?

[2018-01-02 17:21] eri-trabiccolo commented on #1250
requested:
https://secure.helpscout.net/conversation/497300895/36118?folderId=607709

[2018-01-03 02:23] denzelchia opened #1354 "Bulleted list in WooCommerce product description is missing list style type"
Hi @Nikeo and @eri-trabiccolo

Customer reported this issue on helpscout.
https://secure.helpscout.net/conversation/496922658/36094?folderId=631714#thread-1348070402

I am able to replicate this issue on my test site.

On my test site, I am using Customizr Pro Theme Modern style and WooCommerce plugin.
In the WooCommerce product description, I have created a bulleted list and it's missing the bull

[2018-01-03 08:23] eri-trabiccolo commented on #1353
Mmm,
not sure how to reproduce this.
Any tip would be very welcome.

[2018-01-03 08:36] eri-trabiccolo commented on #1354
Hi @denzelchia
thanks for reporting this.

Will push a PR soon

[2018-01-03 11:02] eri-trabiccolo opened #1356 "Slider caption not centered in ipad Mini ?!"
on ipad mini 8.3 -  iOS 9.3.5
chrome 47.0.2526.107
(same on safari)

![photo_2018-01-03_12-01-06](https://user-images.githubusercontent.com/7689242/34518042-cac39548-f07d-11e7-9e9c-cc40200444ef.jpg)

This happens because the caption tranform properties, used for centering, are not prefixed.

[2018-01-03 13:36] eri-trabiccolo opened #1358 "Clicking on menu items with children and no URL brings to a 404"
website: https://proknx.com/
https://secure.helpscout.net/conversation/498004745/36165?folderId=607709

[2018-01-03 13:47] eri-trabiccolo commented on #1358
fixed in https://github.com/presscustomizr/customizr-front-js-parts/pull/27

[2018-01-03 22:26] PeopleInside commented on #1016
Sorry, demo was closed.
I will try to send zip file to the ticket. You will able to download on the next 30 days.

[2018-01-04 01:56] denzelchia opened #1359 "WooCommerce update cart button color css"
Hi @Nikeo and @eri-trabiccolo

Customer reported this issue on helpscout.
https://secure.helpscout.net/conversation/496922658/36094?folderId=631714#thread-1350646355

I am able to replicate this issue on my test site.
Using Customizr Pro Theme Modern Style. The WooCommerce update cart button is different in color to other buttons found in cart page. It should be similar in color.

Please see scree

[2018-01-04 09:01] eri-trabiccolo commented on #1359
Hi @denzelchia
thanks for reporting this.

Actually that button has different color/background because it's **disabled** (by WooCommerce).
Until you change something in the cart (e.g. the quantity) that button is not clickable. (If you hover over it you'll see the "not-allowed" cursor, also the opacity is originally set by the WooCommerce style).
Once you change something in the cart (again the qu

[2018-01-04 11:36] eri-trabiccolo opened #1360 "CSS: -moz-osx-font-smoothing and -webkit-font-smoothing should be removed"
see @ElectricFeet issue on storefront:
https://github.com/woocommerce/storefront/issues/698

[2018-01-04 16:29] ghost commented on #989
I see many websites with an empty sidebar in single posts => http://wherecouldibenow.com/insane-error-fare-to-australia/
An informative placeholder is becoming urgent

[2018-01-05 02:08] denzelchia commented on #1359
Hi @eri-trabiccolo ,

Thank you very much for your explanation.
I will let customer know about it.

Thank you

[2018-01-05 02:08] #1359 closed, assigned to nobody

[2018-01-05 17:36] #1350 closed, assigned to nobody

[2018-01-05 17:37] #1354 closed, assigned to nobody

[2018-01-05 17:38] #1356 closed, assigned to nobody

[2018-01-05 17:48] #1358 closed, assigned to nobody

[2018-01-07 09:21] ghost opened #1361 "Improve BuddyPress and BBpress design compatibility"
Thanks for your reply - I would like to consider either variant, but the **Modern style looks** good.

Either way **I would just like the buddypress and bbpress elements to reflect the theme settings such as font etc... and to have some flexibility over the layout of the buddypress elements albeit with some flexibility similar to TwentySeventeen.**

Thank you

[2018-01-07 09:30] ghost commented on #1016
OK. thank you.
Installing an entire website is not our preferred way to fix this type of problem.
Can this bug be reproduced somwhere else, like for example on the [demo website](https://demo.presscustomizr.com) when switching to incognito mode ?
Best wishes for 2018 !

[2018-01-07 09:35] PeopleInside commented on #1016
Hi @Nikeo,
I think I will be not able to reproduce in the demo or you need to change a lot of the theme because seems the issue is present with my customization in all website.

You have to understand your theme is amazing :D is the only one theme that allow me to have a big long header so the look of the website can be as my previous website before i swith to the new HTML 5 responsive theme.

See

[2018-01-07 09:35] PeopleInside commented on #1016
Happy new year 2018 :) also to you :)

[2018-01-07 19:44] ghost opened #1362 "Issue with Ninja form ?"
https://secure.helpscout.net/conversation/500594090/36304/?folderId=607541

Earlier ...

[2018-01-08 07:41] ghost opened #1363 "Animated underline not removable in some navigation menus"
When unchecking the option "Animated underline effect on link hover" in _global settings > Formatting, links_, the animated underline is still visible when hovering the menu item ( or when  displaying the item context ) in :
- side menu
- mobile menu

https://secure.helpscout.net/conversation/500270930/36278?folderId=607547

![sans titre](https://user-images.githubusercontent.com/3038156/34662281-

[2018-01-08 08:54] eri-trabiccolo commented on #1363
It happens only with menu items with children in vertical menus, right?

I would also say that also the current menu items, when that option is disabled, should not be underlined at all. What do you think @Nikeo?

[2018-01-08 08:58] ghost commented on #1363
👍

Yes => no underline when the option is disabled. This includes when hovering, current menu item, current parent menu item (if the case ), etc...

[2018-01-08 08:59] ghost commented on #1363
From what I could test yes, but you'll need to test more _edge_ cases in the horizontal menus I think

[2018-01-08 09:01] ghost commented on #1363
@eri-trabiccolo this issue is becoming the most urgent in our scheduled dev. see https://github.com/orgs/presscustomizr/projects/2#card-6527768

[2018-01-08 09:02] eri-trabiccolo commented on #1363
horizontals are fine

yeah I saw it was the most urgent

[2018-01-08 09:03] ghost commented on #1363
thanks 👍

[2018-01-08 09:04] ghost commented on #1363
Hope you had a nice week end by the way !

[2018-01-08 09:07] eri-trabiccolo commented on #1363
Yeah, I had a nice one (ate a lot :P)

[2018-01-08 09:29] ghost opened #1364 "Font awesome => upgrade to FA5"
# Why ?

- Font awesome has become some kind of web design standard, and we must provide our users with the latest version.
- It's been requested by our users several times in the past weeks. And [again yersterday](https://wordpress.org/support/topic/use-font-awesome-5-instead-of-4/)
- There are much more icons, we went from 675 to 903
- Additional styling available, like sizing, animating, backgr

[2018-01-08 10:02] ghost opened #1366 "remove useless @import rules"
https://github.com/presscustomizr/customizr/blob/6cfaae5cde533169cc1ddba370e444c1d7881d86/assets/front/scss/0_1_base/_typography.scss#L1

[2018-01-08 10:03] ghost commented on #1366
@eri-trabiccolo as discussed

[2018-01-08 10:33] ghost commented on #1364
@eri-trabiccolo following the discussion about far or fas, font awesome says that the new default is more fas than fab here : https://fontawesome.com/how-to-use/svg-with-js#styles-and-prefixes

So let's use `fas`.

[2018-01-08 13:27] ghost opened #1368 "Footer : style of widgets zone and colophon could be differentiated when selecting dark or light."
as requested here : https://secure.helpscout.net/conversation/500718661/36316?folderId=607541

And colophon could even have custom color option.

[2018-01-08 13:31] eri-trabiccolo commented on #1368
related to this?
https://github.com/presscustomizr/customizr/issues/1332

[2018-01-08 13:39] ghost opened #1369 "Footer : add a widget zone before the footer, not styled like the footer => white background"
It could be used to display bottom contact informations for example. Of anything a user want to add there.

Requested here  ( not exactly this way but still, same concept ) https://secure.helpscout.net/conversation/500718661/36316?folderId=607541

 **Also, can I add a text widget inside there, to the left of the social icon bar to include my client's contact information. Many thanks in advance,**

[2018-01-08 13:42] ghost opened #1370 "Find a way to allow users to customize the space around the featured page"
https://secure.helpscout.net/conversation/500662026/36313?folderId=607546

![screenshot2](https://user-images.githubusercontent.com/3038156/34673289-084424de-f482-11e7-85d5-79b18fddbd95.jpg)

[2018-01-08 13:45] ghost commented on #1368
Yep, those are connected.
But the custom color might be more complex to implement for the widget zones.
To be discussed. As soon as the current priorities are addressed.
In connection with #1369 too.

[2018-01-08 13:46] ghost commented on #1369
to be approached globally with

- #1332
- https://github.com/presscustomizr/pro-bundle/issues/121
- #1368

[2018-01-08 13:53] ghost commented on #1362
@eri-trabiccolo I place this one before the start ot FA upgrade in https://github.com/orgs/presscustomizr/projects/2
This is the first time this is reported, but Ninja form is used by 1m+ users so... let's see.
thx

[2018-01-08 14:01] #1363 closed, assigned to eri-trabiccolo

[2018-01-08 14:03] #1366 closed, assigned to eri-trabiccolo

[2018-01-09 08:40] ghost opened #1371 "Include more WAI-ARIA semantic in our dev approach when possible"
- https://www.w3.org/TR/aria-in-html/
- https://developer.mozilla.org/en-US/docs/Learn/Accessibility/WAI-ARIA_basics
- https://webaim.org/techniques/screenreader/
- https://webaim.org/projects/screenreadersurvey6/#used

[2018-01-09 09:19] eri-trabiccolo commented on #1362
Hi Nico,
cannot recreate this issue on my end.
Did you?

[2018-01-09 09:20] ghost commented on #1362
nope I did not try yet

[2018-01-09 09:44] eri-trabiccolo opened #1372 "Misspelling in the theme description"
https://github.com/presscustomizr/customizr/blob/v4.0.15-beta/style.css#L4

"more then" should be "more than"

[2018-01-09 09:46] ghost commented on #1372
oooooooh shame on me !!!!

[2018-01-09 09:51] #1372 closed, assigned to nobody

[2018-01-10 20:36] ghost opened #1373 "Mobile hamburger menu gets expanded then collapse automatically"
The bug can be easily reproduced on https://cb-electronics.com with chrome

[2018-01-10 20:37] ghost commented on #1373
@eri-trabiccolo can you investigate it in priority during your next work session ?
thx!

[2018-01-10 20:39] ghost commented on #1373
I've asked the user to test without plugins. ( table press might be conflicting ). I'll update the issue once he replies.

[2018-01-10 20:52] eri-trabiccolo commented on #1373
Download manager uses bootstrap3 : collapse conflict.
We should use a custom code

Il 10 gen 2018 9:39 PM, "Nicolas Guillaume (@nikeo on wp.org)" <
notifications@github.com> ha scritto:

[2018-01-10 21:03] eri-trabiccolo commented on #1373
see https://github.com/presscustomizr/customizr/issues/1144

[2018-01-11 08:51] ghost commented on #1373
update

@eri-trabiccolo I guess Download Manager is not the only plugin using an old version of bootstrap. Can we try to implement the simple compatibility fix detailed here #1144.

Ideally, I would prefer to have a pure js solution, in which we restrict the addition of this css rule(s) to the cases where b3 is used. The solution to implement would be something like

1. we detect if bootstrap 3 js

[2018-01-11 08:56] ghost commented on #1373
Another issue that might be related to bootstrap conflict, reported by the same user

[2018-01-11 09:07] eri-trabiccolo commented on #1373
Hi Nico,
yeah all the plugins using a non prefixed bootstrap js/css might conflict with the hamburger.
I would rather go with a "copy" of the collapse but using custom namespace for now. (in the future we should prefix also columns/container/rows CSS classes etc.)

About the search in desktop.
Not a conflict as far as I can see.
It just doesn't focus the search form input when clicking on the sear

[2018-01-11 09:43] ghost opened #1374 "Search form focus"
@eri-trabiccolo said

[2018-01-11 09:54] ghost commented on #1374
@eri-trabiccolo  I'm now quoting you man !

[2018-01-11 09:55] eri-trabiccolo commented on #1374
I will write it in my Bio :P

[2018-01-11 09:57] ghost commented on #1374
I should add it too :P :P

[2018-01-11 14:53] eri-trabiccolo commented on #1373
Did it in local.
Gotta go, will run some more tests tomorrow and will push the multi-repo PR.

Talk you soon ;)

[2018-01-12 08:36] ghost opened #1376 "old slider fading transition question"
https://secure.helpscout.net/conversation/503676122/36499?folderId=607544

[2018-01-12 09:13] eri-trabiccolo commented on #1376
About 2.
As far as I know flickity itself doesn't support fade. The author said it was outside the flickity set because of the physics hard coded in flickity. Though probably he will change is mind.
There CSS hacks here:
https://github.com/metafizzy/flickity/issues/26

About 1.
really? :D

[2018-01-12 09:24] eri-trabiccolo commented on #1374
should this be done before fa or not?!

[2018-01-12 09:33] eri-trabiccolo commented on #1373
fixed in:
this repo: https://github.com/presscustomizr/customizr/pull/1377
front js parts: https://github.com/presscustomizr/customizr-front-js-parts/pull/28

(tested with download manager that I tested it conflicts without applying those PR)

[2018-01-12 09:39] ghost commented on #1374
ah not. I just updated the column https://github.com/orgs/presscustomizr/projects/2

[2018-01-12 09:44] eri-trabiccolo commented on #1374
Ok, thanks Nico.
I'm on the fa upgrade then, as its previous task have a PR pushed except for the Ninja form issue that I cannot actually recreate, though I will give it another try.

[2018-01-12 09:47] ghost commented on #1374
OK.
Leave the Ninja form investigation, and the search form focus  aside for the moment.
For the today's release the remaining part is Font Awesome + usual tests.

[2018-01-12 15:44] eri-trabiccolo commented on #1364
UPDATE:
1) we cannot really keep the "fa" class as "fa fab" will make the 'fa' rule override the 'fab' rule (they use two different font families). We could "override" this behavior, of course...
2) some icons have been removed, at least one of our list has no substitute.
[all the social icons except for the solid and one regular (fa-envelope-o) below will be displayed as fab (brands) ]
## SOLID I

[2018-01-12 16:08] ghost commented on #1364
- About fa-meanpath http://fontawesome.io/icon/meanpath/, what happens after the update if a user has selected it => make sure there's no critical error in both front end and **customizer**

[2018-01-12 16:55] eri-trabiccolo opened #1378 "Search results headings: option not taken in account"

[2018-01-12 17:16] eri-trabiccolo commented on #1378
fixed in: https://github.com/presscustomizr/customizr/pull/1379
also please merge this: https://github.com/presscustomizr/customizr-pro/pull/34

thanks

[2018-01-12 18:25] ghost commented on #1378
@eri-trabiccolo done

[2018-01-12 18:31] #1378 closed, assigned to nobody

[2018-01-14 20:45] ghost opened #1380 "Mobile menu : alignment problem"
Orange should be aligned with green in the screenshot below

![alignment_issue](https://user-images.githubusercontent.com/3038156/34920506-0ff5c48e-f974-11e7-8779-3fed3a7efe07.jpg)

Reported in helpscout

https://secure.helpscout.net/conversation/504565291/36526?folderId=607541
http://anita.theinternetprovider.net.au/

@denzelchia please comment this issue if needed with any useful customer feedba

[2018-01-15 08:34] eri-trabiccolo commented on #1380
About the menu items alignment,
ok we can do it.

About:

Cannot reproduce this.

Yeah we need an option (font size). Also for the size of the menu button (width/height)
We should also split the options for mobile and desktops actually.

see above: we can do it, if we want, do we? :D

This is **not a theme menu** but the content of the user's front page

Since it's a custom code the only way to ta

[2018-01-15 08:49] eri-trabiccolo opened #1381 "Unwanted vertical separator before comments link in single posts, with a specific configuration"
When the post metas option is checked but all the individual meta display options are unchecked we don't want to display a vertical separator before the comments link.

<img width="466" alt="2018-01-15_9-39-37" src="https://user-images.githubusercontent.com/7689242/34933761-681a1f34-f9d8-11e7-9ca8-844da9a32f93.png">

[2018-01-15 12:10] eri-trabiccolo commented on #1364
Set of icons for the test:
(below already with the new icons in place)
<img width="199" alt="2018-01-15_13-09-52" src="https://user-images.githubusercontent.com/7689242/34941792-8460338c-f9f5-11e7-8765-10c4ccdf1e94.png">

[2018-01-15 12:20] eri-trabiccolo commented on #1364
The icon will just be not displayed as you can see in the customizer as you can see above.
Same in front (just a "blank" space ).
Additionally, all the icons removed from the list, like google-plus-circle, will not appear in the select, producing this:
<img width="238" alt="2018-01-15_13-19-58" src="https://user-images.githubusercontent.com/7689242/34942152-d087a9a6-f9f6-11e7-978f-affd7a6ca2e4.png

[2018-01-15 14:52] eri-trabiccolo commented on #1364
Pro bundle : https://github.com/presscustomizr/pro-bundle/pull/125
Theme customizr fmk : https://github.com/presscustomizr/themes-customizer-fmk/pull/43
Customizr front js : https://github.com/presscustomizr/customizr-front-js-parts/pull/29
Customizr : https://github.com/presscustomizr/customizr/pull/1383

[2018-01-15 19:44] eemlandict commented on #864
She is right.. It`s a missing thing in thema what cause this error
what google don`t like for your ranking

![hentry](https://user-images.githubusercontent.com/17732874/34958762-8aa5e4b0-fa33-11e7-961e-dc496d82c1d2.jpg)

see also
https://kb.yoast.com/kb/fixing-hcard-author-error/
The solution is in template
https://wpcolt.com/fix-hentry-errors-wordpress/

[2018-01-16 09:53] #1381 closed, assigned to nobody

[2018-01-16 09:54] #1364 closed, assigned to nobody

[2018-01-16 10:30] eri-trabiccolo commented on #1374
Fixed in https://github.com/presscustomizr/customizr-front-js-parts/pull/30

[2018-01-16 13:05] #1380 closed, assigned to eri-trabiccolo

[2018-01-16 13:16] #1374 closed, assigned to eri-trabiccolo

[2018-01-16 15:51] eri-trabiccolo opened #1386 "Feature request: do not display the number of posts in archives/search results"
We have collected several requests about hiding the number of posts/results in archive/search headings.
E.g. the "2 posts" here -> https://demo.presscustomizr.com/category/cat-a/

latest: https://secure.helpscout.net/conversation/506489686/36624?folderId=607541

We can add an option to not display it.

[2018-01-16 16:25] eri-trabiccolo opened #1387 "The retina php code creates also unwanted (and broken) PDF files retina versions"
If you upload A.pdf, it creates 'retina' versions like:
A-{thumb-size}@2x.pdf
A-{thumb-size-2}@2x.pdf
A-{thumb-size-3}@2x.pdf

Consider that WP since 4.7 creates images and thumbs from the pdf like:
A-pdf.jpg
A-pdf-{thumb-size}.jpg
A-pdf-{thumb-size-2}.jpg
A-pdf-{thumb-size-3}.jpg

So we should rather have something like:
A-pdf@2x.jpg
A-pdf-{thumb-size}@2x.jpg
A-pdf-{thumb-size-2}@2x.jpg
A-pdf-{th

[2018-01-16 16:27] ghost commented on #1387
ok.

[2018-01-16 17:24] eri-trabiccolo opened #1388 "Featured pages: minor wording error in the "placeholder" fp text description"
It says:

while it should be:

https://github.com/presscustomizr/customizr/blob/v4.0.15/inc/_dev/parts/class-content-featured_pages.php#L188
https://github.com/presscustomizr/customizr/blob/v4.0.15/core/front/models/modules/featured-pages/class-model-featured_pages.php#L146

[2018-01-16 17:34] eri-trabiccolo commented on #1242
Here a side effect of our "grab all image sizes" treatment:
https://secure.helpscout.net/conversation/496539833/36060?folderId=607709

we should avoid this @Nikeo

[2018-01-16 17:54] eri-trabiccolo opened #1389 "Tagline not displayed in the header"
@Nikeo this is urgent

[2018-01-16 17:57] ghost commented on #1389
@eri-trabiccolo I'm on it thanks

[2018-01-16 18:00] #1389 closed, assigned to nobody

[2018-01-16 18:19] #1388 closed, assigned to nobody

[2018-01-16 18:55] #1373 closed, assigned to eri-trabiccolo

[2018-01-16 19:45] nickreiner commented on #1364
Are some icons like the Patreon one intentionally left out? Can't find them through the Customizer

[2018-01-17 02:00] denzelchia opened #1392 "Feature request: Add text area for text between featured pages and post grid on homepage"
Hi @Nikeo ,

Putting up a request on behalf of customer on helpscout.
https://secure.helpscout.net/conversation/505889124/36594/?folderId=607544#thread-1375838440

Customer requesting for a text area between featured pages and post grid on homepage when homepage is set to show your latest posts.

I have come across such request from other customer before.

Thank you
Denzel

[2018-01-17 09:01] eri-trabiccolo commented on #1308
Should be this WP bug now fixed in WP 4.9.2
https://core.trac.wordpress.org/ticket/42603

[2018-01-17 15:55] eri-trabiccolo opened #1393 "Bulleted list in WooCommerce product SHORT description is missing list style type"
Similar to https://github.com/presscustomizr/customizr/issues/1354

reported on:
https://secure.helpscout.net/conversation/507316765/36665?folderId=607709

[2018-01-17 15:59] ghost commented on #1393
OK Tnx. included in the column!

[2018-01-17 16:07] eri-trabiccolo opened #1394 "Lightbox doesn't work for images in the WooCommerce description/short description"
1) when in the description tab, the link wrapping the image (link to the media file) doesn't match the delegated element's selector we use here:
https://github.com/presscustomizr/customizr-front-js-parts/blob/04569189946e45b1b34ef5e499280ce912397308/_parts_modern/_main_jquery_plugins.part.js#L348
(this happens only for the Modern style)

2) when in the short description:
- the php parsing doesn't

[2018-01-17 16:11] ghost commented on #1394
How do you feel about fixing this ?

[2018-01-17 16:12] eri-trabiccolo commented on #1394
1) is fast, minor js change
2) I have to look for the wc filter, shouldn't be long, assuming we want it :D

[2018-01-17 16:16] ghost commented on #1394
OK I've placed this one and #1393 WooCommerce related before hueman FA5 upgrade then

[2018-01-17 18:39] eri-trabiccolo commented on #1394
customizr part in: https://github.com/presscustomizr/customizr/pull/1395
customizr-front-js part in: https://github.com/presscustomizr/customizr-front-js-parts/pull/31

[2018-01-17 19:18] eri-trabiccolo opened #1396 "When the logo/title is centered the header takes too much stick (trigger point)"
That's even when the behavior on scroll is set as **Always visible**
http://www.von-kronberg.com/www

or at least we should change the wording "Always visible" as it might mislead

[2018-01-17 20:13] ghost commented on #1396
Let me know if you're ok to fix this

[2018-01-17 20:24] ghost commented on #1053
And another related ( for classic, but still, same concept ) https://secure.helpscout.net/conversation/507485687/36680?folderId=607541

@eri-trabiccolo we need to discuss this during our next chat.

[2018-01-18 08:28] eri-trabiccolo commented on #1396
I think this h*2 is too high:
https://github.com/presscustomizr/customizr-front-js-parts/blob/master/_parts_modern/_main_userxp_1_stickify_header.part.js#L182
https://github.com/presscustomizr/customizr-front-js-parts/blob/master/_parts_modern/_main_userxp_1_stickify_header.part.js#L176

Maybe a fixed value of say 50px would be enough.
But I guess you had a reason for setting that value that way.

[2018-01-18 08:29] eri-trabiccolo commented on #1053
Mmm, this is in my column now before hueman fa5 upgrade... is this correct?

[2018-01-18 11:11] ghost commented on #1053
the order is

1. phone number
2. opening hours
3. email

[2018-01-18 16:48] #1394 closed, assigned to eri-trabiccolo

[2018-01-18 17:06] #1393 closed, assigned to eri-trabiccolo

[2018-01-18 17:17] eri-trabiccolo commented on #1053
Topbar Question.
Display it in mobile and/or desktop.
We now have a checkbox to display it in desktops, we can
1) add a new checkbox for mobiles
2) turn the current option in a select saying "Display a topbar in the header", with options
- Do not display
- Only in desktops
- Only in mobiles
- Both in desktops and mobiles

1) is the more simple one and respects our options header sections structure

[2018-01-18 17:30] ghost commented on #1053
yes 2) is better. My only 2 cents would be to add the word _devices_

- Do not display
- Only in desktops devices
- Only in mobiles devices
- Both in desktops and mobiles devices

tnx and good evening !

[2018-01-19 11:02] eri-trabiccolo commented on #1053
The "contact-info" block will follow the same logic:
- Do not display
- Only in desktops devices
- Only in mobiles devices
- Both in desktops and mobiles devices

In my opinion the **socials in header option** should now follow this logic too (backward compat needed).
I'm doing it this way unless you have anything against it.

[2018-01-19 17:12] eri-trabiccolo opened #1398 "When socials are not displayed in the header, we can let the tagline span the navbar wrapper width."
Requested here:
https://secure.helpscout.net/conversation/508512501/36764?folderId=607709

[2018-01-19 17:57] eri-trabiccolo opened #1399 "link effect => Improve compatibility with some Jetpacks widgets"
Overall improve the links in widgets CSS which was mostly designed for accepting the "underline" effect, but can create problems when the underline shouldn't be applied.
For example when links wrap an image, like in the Jetpack widget here:
<img width="162" alt="2018-01-19_18-51-03" src="https://user-images.githubusercontent.com/7689242/35164423-9b56885e-fd4a-11e7-9cc0-08feec48f6e7.png">

Reported

[2018-01-19 18:16] ghost commented on #1399
yes this should be definitely improved ! tnks for reporting.
The primary problem reported is the size of the Jetpack widget images. Is this connected to the underline effect being activated for those links ?

[2018-01-19 18:20] eri-trabiccolo commented on #1399
Yes.
Because of the display inline-block applied to the 'a' which is so to allow
a 'better' underline-effect.

Sorry to not having explained it in detail.

Il 19 gen 2018 7:16 PM, "Nicolas Guillaume (@nikeo on wp.org)" <
notifications@github.com> ha scritto:

[2018-01-19 18:21] ghost opened #1400 "style => ol/ul lists > li with a <p> child can look ugly"
We should prevent <p> elements to keep their top and bottom margins when wrapped in a ul / ol list

like

[code]

to see live here : https://hobiternak.com/cara-order-2/

[2018-01-19 18:35] ghost commented on #1399
Ah ok. Yes I can see it with the dev tool.
mmm...
When you'll have time, let me know if we can find a css solution without applying an `inline-block` display.
If it's the only way to make this effect work nice, we'll have to think about a new option to control where the effect should be applied. ( even if I'm not really fan of the idea to add new checkboxes.... )

[2018-01-19 18:40] eri-trabiccolo commented on #1399
My idea is to apply it (in widgets) only to links in known widgets types,
like pages, menus etc, and of course only if the option that we already
have for the whole site, is enabled.

Il 19 gen 2018 7:35 PM, "Nicolas Guillaume (@nikeo on wp.org)" <
notifications@github.com> ha scritto:

[2018-01-19 18:45] ghost commented on #1399
yeah I like it.

[2018-01-19 18:47] ghost commented on #1399
let's schedule this for the next release, and before Hueman upgrade to FA 5.
we'll talk about it on monday.
if there's nothing else urgent for this week, enjoy your week end, have good meals, etc.

[2018-01-19 18:47] ghost commented on #1399
( no I wont say what you think to terminate this )

[2018-01-19 19:04] eri-trabiccolo commented on #1399
'idad

You too, thanks!!!

[2018-01-19 19:06] ghost commented on #1399
I was in a rrooooaaaaaaaah mood

[2018-01-20 04:01] denzelchia opened #1401 "microformats in pages > google reports missing author meta and publish/update date"
Hi @Nikeo ,

Putting up a request on behalf of customer on helpscout.
https://secure.helpscout.net/conversation/505935101/36596/?folderId=607546

Customizer requires author meta and publish/update date in a page, because his google search console reported missing author and missing update on pages.

![image001](https://user-images.githubusercontent.com/9284811/35179667-9371033c-fdd9-11e7-8bd0-66aa

[2018-01-20 06:58] ghost commented on #1401
@denzelchia tnx for reporting the pb.

@eri-trabiccolo we need to check if we display the microformats for date, author, entry-title, ... the right way in pages.
see tihis old discussion : https://github.com/presscustomizr/hueman/pull/126

[2018-01-20 07:48] eri-trabiccolo commented on #1401
Mmm, date and author nope, because metas are not displayed in pages.
They've never have been, in classical neither.
Honestly not sure, have you ever seen a page with a date or the author
post-meta? (This is a real question :) )
Will investigate into this.

Il 20 gen 2018 7:58 AM, "Nicolas Guillaume (@nikeo on wp.org)" <
notifications@github.com> ha scritto:

[2018-01-22 01:33] denzelchia opened #1402 "Feature request: collapsible sub-menu in mobile for classical style."
Hi @Nikeo

Customer on helpscout request for collapsible sub-menu in mobile for Classical Style
https://secure.helpscout.net/conversation/509014866/36802/?folderId=631714#thread-1383850786

Thank you
Denzel

[2018-01-22 06:43] ghost commented on #1402
Thanks for reporting this request @denzelchia
@eri-trabiccolo let's discuss this point during the next point.

[2018-01-22 12:07] eri-trabiccolo commented on #1053
Customizr: https://github.com/presscustomizr/customizr/pull/1403
Bugfix js:  https://github.com/presscustomizr/customizr-front-js-parts/pull/32

Now we have to find a way to make the Header -> General design settings less crowded.

To discuss:
- maybe center socials and contact info in small devices (smartphones only) and decrease font size

[2018-01-22 12:30] eri-trabiccolo opened #1404 "Make sure to display the 404 content only when we're really in the 404 context"
When you show your latest posts in front, if you don't have any published post, you'll see this:
<img width="814" alt="2018-01-22_13-27-41" src="https://user-images.githubusercontent.com/7689242/35220838-23be5198-ff78-11e7-920f-23b2a2efea67.png">

[2018-01-22 13:03] eri-trabiccolo opened #1406 "Shall we display the site-title as h1 in the front page only?"
https://wordpress.org/support/topic/tag-twice-on-all-pages-i-changed-it-is-it-correct/

SEO performances?
Shall we use the twentyseventeen system?

https://github.com/WordPress/twentyseventeen/blob/master/components/header/site-branding.php#L18

[2018-01-22 17:10] ghost commented on #1053
Thank you, this is a very good addition.

Change => The contact block feature will be included in the pro-bundle instead of here.
In the future, it will turned into a module in which users will be able to add any contact informations they need, choose the icon, or not display an icon, order the items, style them, etc ...

Here are some specification updates.

## Contact block
- [customizer] A new

[2018-01-22 17:25] eri-trabiccolo commented on #1053
mmm so creating the not existing elements via js?!

Didn't I add it?
https://github.com/presscustomizr/customizr/pull/1403/commits/05695f22ee897d7c563304e1beeb821b64e4df40#diff-f54424c17a661e350bba8856d2a758deR629
Well that's the old way, so you mean to print a message in the customizer. I get it

one on top of each other?
= phone =
= opening hours =
= email =
?

### Last question:
I guess we can

[2018-01-22 17:33] ghost commented on #1053
ah yes, forget about postMessaging then :)

sanitize 👍 but how come I wasn't notified then when I tested a wrong email address...

Centered => yes.

code organization => do as you prefer. ( I guess you love this type of answer... )

[2018-01-22 17:37] eri-trabiccolo commented on #1053
Yes I do, and I'll do as I said :P
also the CSS, which is tiny, doesn't need to be moved.

About the email, not sure why didn't work ... have to check.
Might be because of our custom email control...

I'll create a totally new PR anyways.

[2018-01-22 19:05] eri-trabiccolo commented on #1399
Did it in https://github.com/eri-trabiccolo/customizr/commit/6e189d3a6155222f20c66199539eea1ff8ca1aa2
I need a way to properly test it with jetpack : cannot on the test website because stats need to be collected to make that very widget to display something - will find a different way, and then will make the PR.
After the contact-info stuff (I guess).

[2018-01-23 08:47] denzelchia opened #1407 "Feature request: Move side menu ( vertical ) icon to top right when logo is set to center position"
Hi @Nikeo and @eri-trabiccolo

Please refer to the following helpscout ticket.
https://secure.helpscout.net/conversation/510232227/36894/?folderId=607544

Customer request to have the side menu ( vertical ) icon move to top right when logo is set to center position.

Thank you

[2018-01-23 14:34] eri-trabiccolo commented on #1053
about Contact **Informations** wording:
https://dictionary.cambridge.org/grammar/british-grammar/uncountable-nouns/information
https://www.collinsdictionary.com/dictionary/english/information

Looks like that "informations" is used only in legal english (but cannot find the link where I read it recently)

[2018-01-23 14:36] ghost commented on #1053
ok, tnx for this no plural form then

[2018-01-23 15:24] eri-trabiccolo commented on #1053
About this:

Are you sure?
Because that "porting routine" is for already existing users, can we be sure they would be happy to see the topbar appearing in mobiles when they were used to see it only in desktops?

[2018-01-23 16:08] ghost commented on #1053
Yes sure. We can't be sure, but this is simpler.

[2018-01-23 17:42] eri-trabiccolo commented on #1053
customizr: https://github.com/presscustomizr/customizr/pull/1408
bundle: https://github.com/presscustomizr/pro-bundle/pull/126

So I think I didn't miss anything from the latest specs.
Just one thing:
[front] on mobile, every contact block should be centered

I read the "mobile" as "extra small devices" (smartphones only then)
and "contact block centered" as only the contact info elements (not soc

[2018-01-23 17:45] eri-trabiccolo commented on #1399
I've found a way to test it:
https://github.com/presscustomizr/customizr/pull/1409

[2018-01-23 17:46] ghost commented on #1053
OK thanks for the hard work 👍
social should be centered. Yes that was not said in the specs but yes.

[2018-01-23 17:47] ghost commented on #1053
but no hurry it will be part of the minor final adjustments.

[2018-01-23 17:58] eri-trabiccolo commented on #1053
ok, no problem, I can do that easily.

Done.

[2018-01-23 20:25] #1399 closed, assigned to nobody

[2018-01-23 22:28] eemlandict commented on #1344
me too on the pages :(

[2018-01-24 18:52] eri-trabiccolo commented on #1053
I think I'm not sure having the contact info block on top of each others in mobiles is good, might lead to a too high topbar. Probably having them just centered would be fine enough.

[2018-01-25 09:35] eri-trabiccolo opened #1410 "Anchor smooth scroll conflict with bootstrap data-toggle="pill" and so on (e.g. in comment tabs)"
### MODERN:
Before we namespaced the tabs js it still didn't work as we didn't add the `[data-toggle="pill"]` to the anchor smooth scroll excluded selectors list.
Now that we have namespaced the tabs js (and the collapse js) we should extend the list with the two new selectors:
`[data-toggle="czr-pill"]`
`[data-toggle="czr-collapse"]`

### CLASSICAL:
Since `[data-toggle="pill"]` is a bootstrap sel

[2018-01-25 10:41] eri-trabiccolo opened #1412 "Slider button might be not visible if there's a pretty long slider text (specially in mobiles)"
https://wordpress.org/support/topic/mobile-site-magazine-isnt-clickable/
This very case doesn't seem to happen in the classical style as the slider text in mobiles has a limited available height.
It might occur, also in the classical style, if the slide title is long (wrapping in more lines) or its font-size is very big.

Do we should always preserve the CTA visibility in all devices at the expens

[2018-01-25 15:05] ghost opened #1414 "RTL in submenu items => animations should be adapted"
http://kitchance.com/

[2018-01-25 17:00] eri-trabiccolo opened #1415 "Side menu not scrolling smooth in iphone?"
https://secure.helpscout.net/conversation/510363575/36904?folderId=607709

Might it have to do with the iphone sending too many scroll events?!

[2018-01-25 18:33] eri-trabiccolo commented on #1414
fixed in: https://github.com/eri-trabiccolo/customizr/commit/463c59c4f55c4352501b4580732b009a7ba090db
also please merge this: https://github.com/presscustomizr/customizr-front-js-parts/pull/33
for a better rtl compliance when flipping title-caret.

Don't worry, I'm on hu fa update, did this in a break :P

[2018-01-25 20:27] albertosgz opened #1417 "Adding custom fields"
Is there a way to display custom fields in posts?
I know the possibility to set custom metadata for each post, but those I don`t know how to make them displayed.
For example, I have 2 custom fields for each blog, date and place. I would like to display them.
For more info: https://torquemag.io/2016/04/use-advanced-custom-fields-depth-tutorial/

[2018-01-26 13:43] eri-trabiccolo commented on #1417
Hi Alberto,
if you're using the modern style you can override the single post part template, in your child-theme, to add your custom field code in order to display them:
https://github.com/presscustomizr/customizr/blob/dev/templates/parts/content/singular/post_content.php

Hope this helps.

Also consider that the theme support is usually provided on the wp.org support forum for the Customizr users

[2018-01-26 13:45] #1417 closed, assigned to nobody

[2018-01-27 04:20] denzelchia opened #1418 "Feature request: Option to add a version number at the end of the url of each slide image"
Hi @Nikeo ,

I am putting up this request on behalf of customer on helpscout.
https://secure.helpscout.net/conversation/512949644/37054/?folderId=607544

Customer request a way to add a version number at the end of the url of each slide image.

Thank you
Denzel

[2018-01-27 08:28] hosseinfarnia opened #1419 "Biography RTL issue"
Hi,
Just wanted to mention that the author biography section is not RTL.
Thanks

[2018-01-28 06:09] hosseinfarnia opened #1420 "RTL breadcrumb issue"
Hi,
The separator between breadcrumbs in RTL languages should be flipped horizontally.
I mean this sign ( ») should be like this: «
Thank you very much

[2018-01-28 07:45] ghost commented on #1418
Hi @denzelchia , thank you for reporting. this is a more code request than a feature request.
So in this case you could have replied right away that our our support won't cover code customizations requests.
Following your initial answer, you can reply that _there's no plan to add a specific option in the theme allowing users to add a parameter at the end of the url of the silde's image. Therefore

[2018-01-28 07:45] #1418 closed, assigned to nobody

[2018-01-28 07:47] ghost commented on #1419
@hosseinfarnia thank you for reporting the issue !

[2018-01-28 08:05] hosseinfarnia commented on #1419
@Nikeo you're welcome.

[2018-01-28 10:58] #1410 closed, assigned to nobody

[2018-01-28 11:00] #1414 closed, assigned to nobody

[2018-01-28 12:42] hosseinfarnia opened #1421 "submenu RTL issue"
Hi @Nikeo
multiple Submenus on desktop devices are not aligned to right in RTL languages.
I have provided a screencast for better understanding in the following:
this is the current position in customizr theme which is wrong:
https://screencast-o-matic.com/watch/cFVulyouSP
and this one is the correct position in another theme (Hestia):
https://screencast-o-matic.com/watch/cFVuluouS8
Thank you very

[2018-01-28 14:30] eri-trabiccolo commented on #1420
That's weird.
Not able to reproduce it here Hossein.
In rtl (using the WordPress function) the separator is '&laquo;'
https://github.com/presscustomizr/customizr/blob/v4.0.17/core/front/models/modules/common/class-model-breadcrumb.php#L47

Can you share a link to your website?

[2018-01-28 14:43] hosseinfarnia commented on #1420
Yes
there is a test site that you can check it:
https://zarinmag.ir

[2018-01-28 14:58] eri-trabiccolo commented on #1420
Hi, thanks
so yeah the separator is actually a '«' (you can see it if you inspect the element), but the rtl direction seems to flip it.
Weird enough cannot reproduce it with the RTL tester plugin.
Thanks, will investigate furthermore.

[2018-01-28 15:32] hosseinfarnia commented on #1420
You're welome.

[2018-01-29 02:12] denzelchia commented on #1418
Ok. I will make a reply to customer.

Thank you

[2018-01-29 08:01] ghost commented on #1053
@eri-trabiccolo let's schedule a skype this morning to discuss the following spec update.

### Model / View / Controller changes
- [x] the topbar menu should not be replaced by the contact informations in desktop devices. After trying it, I find it not flexible enough. We might have user who need to have this topbar menu and their phone number on top of it for example. When a topbar menu is displa

[2018-01-29 11:08] eri-trabiccolo commented on #1053
Are you fine that socials and tagline, if both contact info and topbar menu are present, are vertically centered?
<img width="572" alt="centered" src="https://user-images.githubusercontent.com/7689242/35507429-0743b966-04ed-11e8-86ca-08132b21904e.png">
And, that, in small mobile, this (the choice of having ci items one on top of each other):
<img width="171" alt="is_this_better" src="https://user-

[2018-01-29 11:15] ghost commented on #1053
Ah no my fault. this is a point that we forgot to discuss.
=> If both contact info and topbar menu are present, the social + tagline should be aligned with the menu.

For mobile yes => items on top of each other

[2018-01-29 11:33] eri-trabiccolo commented on #1053
Anyway
bundle: https://github.com/presscustomizr/pro-bundle/pull/132
customizr: https://github.com/presscustomizr/customizr/pull/1422

[2018-01-29 11:36] eri-trabiccolo commented on #1053
Ah no my fault. this is a point that we forgot to discuss.
=> If both contact info and topbar menu are present, the social + tagline should be aligned with the menu.

Considering that the topbar menu can drop on two lines this kinda changes the things a lot.
But ok, will see how to achieve this in a simple way.
But I'm not sure I will succeed with just one contact-info block template printed.

[2018-01-29 12:39] ghost commented on #1053
@eri-trabiccolo I understand, this is a difficulty that I was expecting.
I prefer to push the version as it is then for the moment.

[2018-01-29 13:50] eri-trabiccolo commented on #1053
@Nikeo I'm working on it,
printing 2 templates when needed.
this won't be visible in *Customizr* templates, I'm using two new action hooks.

Can I continue?
About 'as it is then for the moment', do you mean with or without https://github.com/presscustomizr/customizr/pull/1422
?

[2018-01-29 14:18] ghost commented on #1053
I was at a meeting
Cool. OK then go ahead and finish.
I mean with the latest #1422

[2018-01-29 14:20] eri-trabiccolo commented on #1053
a meeting? really? did you wear stuff like a top hat while drinking champagne? :P

[2018-01-29 14:22] ghost commented on #1053
Ah ah I knew you would react to this one.

much less cool than that. I was at an appointment with a guy for the kitchen. Awesome isn't it ? :D

[2018-01-29 14:23] eri-trabiccolo commented on #1053
Well kitchen brings to meal, so it's awesome of course :P

[2018-01-29 14:24] ghost commented on #1053
mmm....that's why I found this appointment not that boring actually. now I understand !

[2018-01-29 15:56] eri-trabiccolo commented on #1053
PRs updated:
customizr: #1422
bundle: https://github.com/presscustomizr/pro-bundle/pull/133

if "we" don't like them you can still merge them and then revert the latest commit for both of them

[2018-01-29 15:57] eri-trabiccolo commented on #1053
Let me know.
I will do some support, then the SEO thing and back on testing this with a free brain.

Talk you later.

[2018-01-29 21:19] ghost opened #1424 "Various blog page problems are being reported"
Reported here : https://presscustomizr.com/release-note-for-customizr-pro-v2-0-22/comment-page-1/#comment-383438
for this website http://opfietsen.nl/

and reported here https://presscustomizr.com/release-note-for-customizr-pro-v2-0-22/comment-page-1/#comment-383647

for this website : http://cuisinedecouverte.com

@eri-trabiccolo does it sound familiar? Did you ever come across such a bug report

[2018-01-29 23:02] eri-trabiccolo commented on #1424
This is because the search in the header in the classical style is not part of the theme, but implemented with a snippet on presscustomizr.com:
https://presscustomizr.com/snippet/adding-an-html5-search-form-in-your-wordpress-menu/
which now is outdated.
see also:
https://wordpress.org/support/topic/fontawesome-is-no-more-working/

About the other two, I'm not able to replicate them here.
We might

[2018-01-30 09:03] eri-trabiccolo commented on #1424
So I tested Polylang too and nothing.
The only way I'm able to replicate this:

Is by setting an empty category in the option to filter the blog/home posts by category.
With or without Polylang.
The thing is that Polylang might make "discovering" the issue, for the user, a little more hard, as you can access the customizer in different languages, so that this case might happen:
1) French is your m

[2018-01-30 10:15] ghost commented on #1424
ok thank you for this complete and detailed feeedback Rocco.
The main problem that I see for the moment is the 404 page.

I'll be focusing on building the new releases for Customizr in a moment.

[2018-01-30 10:19] eri-trabiccolo commented on #1424
Ok, so the 404 is already fixed in dev.

[2018-01-30 10:23] ghost commented on #1424
yep

[2018-01-30 10:33] eri-trabiccolo commented on #1419
Only in modern style, classical seems to be fine.

[2018-01-30 10:56] eri-trabiccolo commented on #1420
This seems to happen only in the modern style.
In classical we don't actually use a different separator in RTL: always &raquo;
(see http://www.glezer.co.il/2017/08/%D7%A9%D7%9C%D7%9E%D7%94-%D7%A9%D7%9C%D7%9E%D7%94-%D7%A9%D7%9C%D7%9E%D7%94-%D7%A9%D7%9C%D7%9E%D7%94-%D7%A9%D7%9C%D7%9E%D7%94/)

Basically what happens is that the browsers, recognizing that the word that precedes the &laquo; or &raquo;

[2018-01-30 12:14] hosseinfarnia opened #1427 "Topbar RTL issue on classic style"
Hi,
I noticed that there are some issues on topbar on classic style and it is messy in rtl languages.
1-Site title should be on the right and site description should be on the left.
2-Social links should be in front of site title.
3-the hamburger button is misplaced on desktop. I think on classic style it is better to be on the left along with the the shopping cart above it.
4-also when scrolling

[2018-01-30 12:37] hosseinfarnia commented on #1421
Hi,
I realized that it has been fixed already.
Sorry for opening this issue.
Thank you

[2018-01-30 13:01] hosseinfarnia commented on #1427
ohhhh
I'm so sorry.
I didn't realize that there are many options in customization panel for left and right logo position. there is no problem. everything is perfect on topbar.
please excuse me for opening this issue.
thanks

[2018-01-30 13:15] hosseinfarnia commented on #1427
but I think the behavior on mobile devices is strange.
Pleaaaase excuse me.
this section was very confusing for me.
thanks
I am going to take a headache pill.
goodbye

[2018-01-30 14:59] eri-trabiccolo commented on #1421
Hi @hosseinfarnia ,
actually this issue is still valid for the modern style and is not fixed yet. Thanks for reporting this.
This other fixed issue https://github.com/presscustomizr/customizr/issues/1414 refers to the background animation on hover for submenu items.

Best.

[2018-01-30 16:28] #1053 closed, assigned to eri-trabiccolo

[2018-01-30 16:31] #1419 closed, assigned to nobody

[2018-01-30 16:32] #1420 closed, assigned to nobody

[2018-01-31 08:20] ghost opened #1428 "slider : fade effect and new slider lib idea"
I have received this request from the contact form.

This is a recurring question since the very beginning. But I've looked for a simple fade solution and I've stumbed upon this slider : https://github.com/kenwheeler/slick/

@eri-trabiccolo did you already review it when we were looking for an alternative to bootstrap.
Any opinion ? => bootstrap potential collision, responsiveness, etc..

I think

[2018-01-31 08:51] eri-trabiccolo commented on #1428
Yeah,
recently I thought maybe we had to replace our current slider, which is great for several aspects but the fade effects are really missing.
A prototype is needed as you said.

[2018-01-31 11:37] eri-trabiccolo commented on #1421
fixed in
#1429
https://github.com/presscustomizr/customizr-front-js-parts/pull/34

[2018-01-31 11:55] frank699 opened #1431 "Delete the H1 of the header"
Hello,
I would like to delete the H1 of Customizr Theme that is on every webpage of my website in the Header. It show that in the HTML client :

`<div class="brand span3 pull-left ">
        <h1><a class="site-title" href="https://www.monwebsite.com/" title="My website| ">My website</a></h1>
      `</div>`

Could someone tell me how can I remove the H1 please ?
Thank you :)

[2018-01-31 17:50] ghost opened #1432 "How are we doing with the latest demo content of the theme directory => menu ?"
https://meta.trac.wordpress.org/ticket/30#comment:56
reminder to test it on a fresh install.

[2018-01-31 17:53] ghost commented on #1424
@eri-trabiccolo is there anything we should worry about in your opinion here : https://wordpress.org/support/topic/blog-posts-page-1-not-showing/

[2018-01-31 18:05] eri-trabiccolo commented on #1424
cannot reach the user website :/ 504 gateway timeout
cannot imagine how can the theme produce the issue: Page 1 is always skipped?

Also we didn't really made any change to the wp loop code recently.

[2018-01-31 18:39] eri-trabiccolo commented on #1424
Ok now I can reach the page.
User is using another theme, and still has this problem.
<img width="959" alt="no_archive_first_page" src="https://user-images.githubusercontent.com/7689242/35640767-77b508e4-06be-11e8-9b0b-8cded6b611c8.png">

So to answer to your question:
No, we shouldn't :D

[2018-01-31 20:32] ghost commented on #1421
Hi @hosseinfarnia thank you very much for reporting this problem. And for the screecasts, it helped !
@eri-trabiccolo thanks for the PR

[2018-02-01 14:58] ghost opened #1433 "Is there a problem with the Jetpack gallery ?"
The following comment has been posted today by a very upset user.

[2018-02-01 16:09] eri-trabiccolo commented on #1433
Which feature DOES NOT WORK?
Where has it been reported?
Yes we do filter the gallery shortcode for our own purpose but, long time ago, to avoid issues with other plugins, we added options to disable the theme galleries.

See http://test.presscustomizr.com/2016/11/23/jetpack-tiled-gallery-test/
(with our gallery disabled)

[2018-02-01 19:13] hosseinfarnia opened #1434 "RTL taxonomy separator issue"
Hi,
I noticed a very small issue that wanted to say.
In RTL languages the separator between categories is misplaced.
For example the link below is a post with two categories that the separator is not between them:
https://zarinmag.ir/test-post/
and in the post below the separator before the last category is gone before the first category:
https://zarinmag.ir/test-post-2/
this issue is even seen on

[2018-02-02 02:07] denzelchia opened #1435 "Feature request: add option to allow tagline to work as a link"
Hi @Nikeo

Please refer to the following customer's feature request on helpscout.
https://secure.helpscout.net/conversation/515894321/37280/?folderId=631714#thread-1403939769

Thank you
Denzel

[2018-02-02 06:54] ghost commented on #1433
The featured which DOES NOT WORK ... :) ... is the image gallery.

This problem has been reported in this doc article : http://docs.presscustomizr.com/article/116-image-galleries-in-the-customizr-theme
By clicking on the button `Was this article helpful? =>  "No" ` at the bottom

![2018-02-02_07-34-32](https://user-images.githubusercontent.com/3038156/35719871-9da7a7e0-07eb-11e8-8929-11287dc0bfed.

[2018-02-02 08:55] eri-trabiccolo commented on #1433
Ah I see. :/

[2018-02-02 08:56] eri-trabiccolo commented on #1434
Hi @hosseinfarnia thanks for reporting this!

[2018-02-02 09:38] ghost commented on #1433
doc updated : http://docs.presscustomizr.com/article/322-using-the-jetpack-gallery-with-the-customizr-theme

[2018-02-02 09:38] #1433 closed, assigned to nobody

[2018-02-02 09:43] ghost opened #1436 "contact info => move harcoded rule in pro bundle into customizr stylesheet"
this ugly hack has been done to avoid publishing a new version, but it needs of course to be fixed
https://github.com/presscustomizr/pro-bundle/issues/135

[2018-02-02 09:58] ghost commented on #1424
ok

[2018-02-02 09:58] #1424 closed, assigned to nobody

[2018-02-02 09:59] #1404 closed, assigned to eri-trabiccolo

[2018-02-02 09:59] #1421 closed, assigned to nobody

[2018-02-02 10:00] ghost commented on #1401
fixed in https://github.com/presscustomizr/customizr/pull/1423

[2018-02-02 10:00] #1401 closed, assigned to nobody

[2018-02-02 10:35] ghost commented on #1376
issue will be followed up in #1428

[2018-02-02 10:35] #1376 closed, assigned to nobody

[2018-02-02 10:38] #1330 closed, assigned to nobody

[2018-02-02 10:40] #1281 closed, assigned to eri-trabiccolo

[2018-02-02 10:40] #1307 closed, assigned to nobody

[2018-02-02 10:41] #1279 closed, assigned to nobody

[2018-02-02 10:41] #1308 closed, assigned to nobody

[2018-02-02 10:42] #1264 closed, assigned to eri-trabiccolo

[2018-02-02 10:45] #629 closed

[2018-02-02 10:45] #625 closed

[2018-02-02 10:49] #604 closed

[2018-02-02 10:49] #570 closed

[2018-02-02 10:49] #603 closed

[2018-02-02 10:49] #619 closed

[2018-02-02 11:09] ghost opened #1437 "Shall we add the safe area inset support for iPhone X ?"
https://github.com/presscustomizr/hueman/issues/631

Initially reported for Hueman
https://secure.helpscout.net/conversation/514067900/37148/?folderId=607544

Spec
https://webkit.org/blog/7929/designing-websites-for-iphone-x/

[2018-02-02 15:28] ghost opened #1438 "WPForms contact form plugin compatibility"
Reported by a user :

[2018-02-02 15:30] ghost opened #1439 "Problem whith navigation menu when scrolling"

[2018-02-02 15:31] ghost commented on #1439
I'm asking the user to share an url + theme infos

[2018-02-02 15:31] ghost commented on #1438
I'm asking the user to share an url + theme infos

[2018-02-02 16:37] eri-trabiccolo commented on #1439
Well, opened on hover? Yes it happens.
You can see it on the demo with the topbar. Looks like it loses the focus.

[2018-02-02 16:50] eri-trabiccolo commented on #1439
Ah, that might depend on the fact that we forbid the pointer-events when 'is-scrolling'.
Have to test.

[2018-02-02 17:51] eri-trabiccolo commented on #1439
should be fixed with
js    : https://github.com/presscustomizr/customizr-front-js-parts/pull/35
css  : https://github.com/presscustomizr/customizr/pull/1440

[2018-02-02 18:06] eri-trabiccolo commented on #1438
I will test that too.
Might be because we hide the browser appearance (WebKit) for radios and checkboxes and use the font awesome for checkboxes, and background (or something) for radios.
What can happen is that the plug-in partially overrides our CSS leaving those in an ugly spurious stage.

WPForms, anyways, is a premium plugin.
If thinks do not change that much we can make sure our forms are co

[2018-02-03 15:10] ghost opened #1441 "New placeholder : when topbar is displayed but empty"
=> display a note with a link to the customizer for logged in users
Same logic as for the empty sidebar placeholder note
connected to #989

Example : http://www.voseridiomas.com.br/

![joie](https://user-images.githubusercontent.com/3038156/35768515-22c811dc-08fd-11e8-939e-7cdb90a72bd7.jpg)

[2018-02-04 11:42] hosseinfarnia opened #1442 "RTL sidebar issue"
Hi,
In RTL languages, right sidebar goes to left on frontend and also left sidebar goes to right.
Also the left sidebar on frontend is not RTL, but in mobile it is RTL.
This only happens on modern style.
Thank you very much

[2018-02-04 11:48] hosseinfarnia opened #1443 "RTL issue in alternate thumbnails layout"
Hi,
When both sidebars are displayed on homepage the alternate thumbnails layout is not RTL.
Thanks

[2018-02-04 14:56] hosseinfarnia opened #1444 "RTL logo/title issue"
Hi,
**On modern style,** when logo/title is set to left, it goes to right on frontend and when it is set to right, it goes to left.

**On Classic style:**
**when logo/ title is set to left:** the hamburger button is misplaced, but it goes to the correct place when scrolling down.

**when logo/title is set to right:** I think the shopping cart should go to left side next to the hamburger button, an

[2018-02-05 01:55] emran1 opened #1445 "Fontawesome list update with the latest version in the next theme update"
TIcket: https://secure.helpscout.net/conversation/518102501/37449?folderId=1845241

The user wants a Flipboard icon in social icons, and font awesome has approved that icon in their 5.0.5 release.

[2018-02-05 06:33] hosseinfarnia opened #1446 "RTL alternate thumbnails position issue"
Hi,
In RTL languages if **Alternate thumbnail/content** in unchecked:
When **Thumbnail position** is set to left, it goes to right on frontend and when it is set to right, it goes to left on frontend.
Thanks

[2018-02-05 07:02] ghost commented on #1445
@emran1 thank you for reporting
We will upgrade FA to 5.0.5 + add this icon to the list of social icons

[2018-02-05 07:46] ghost opened #1447 "Customizr doc to update / create"
To update, ordered by priority

- [x] http://docs.presscustomizr.com/article/3-creating-a-slider-with-customizr-wordpress-theme
---
- [x] http://docs.presscustomizr.com/article/175-first-steps-with-the-customizr-wordpress-theme
- [x] http://docs.presscustomizr.com/article/102-customizr-theme-options-front-page
- [ ] http://docs.presscustomizr.com/article/101-customizr-theme-options-header-settings

[2018-02-05 07:55] ghost commented on #1447
copy of https://github.com/presscustomizr/helpscout-doc/issues/5

[2018-02-05 09:18] hosseinfarnia opened #1448 "RTL Post/Page Navigation issue"
Hi,
In RTL languages:
Navigation in single posts and pages should be switched. I mean left navigation should be at right side and right navigation should go to left. (previous post should be at left and next post should be at right but it's not.)
Homepage and other post lists are ok (newer posts/older posts).
Although it is not so important but I wanted to mention it.
Thanks

[2018-02-05 09:31] eri-trabiccolo commented on #1448
Hi Hossein,
this is the single navigation in LTR:
<img width="954" alt="single_nav_ltr" src="https://user-images.githubusercontent.com/7689242/35797257-6f6c79de-0a5f-11e8-9af0-18e5084653b6.png">

here's the same in RTL:
<img width="953" alt="single_nav_rtl" src="https://user-images.githubusercontent.com/7689242/35797261-739c10e6-0a5f-11e8-9e64-fd6ed4e9f953.png">

so the RTL is the mirrored version

[2018-02-05 09:54] hosseinfarnia opened #1449 "RTL back to top arrow position"
Hi,
like previous issues that I opened this one has the same problem.
in customization panel when it is set to right, it will be displayed at left and so on....

Are you going to fix these issues?
Are they important? I mean shifting left and right

[2018-02-05 10:33] JTS-IL commented on #1448
I Think this is correct.
Next is left, Previous is right

[2018-02-05 10:35] eri-trabiccolo commented on #1448
Thanks @JTS-IL

[2018-02-05 10:38] JTS-IL commented on #1449
I think the same semantic issue was about a year ago, it was about the left/right side bar.
If something is related as "left" or "right" it should be absolute. if something is related "before" or "after" content according to reading order it should be mirrored on RTL

[2018-02-05 11:28] hosseinfarnia commented on #1448
Yes
I was wrong.

[2018-02-05 11:32] hosseinfarnia opened #1450 "RTL pagination mirror"
Hi,
pagination at the bottom should be mirrored in RTL languages. Because in RTL, numbers beging form left to right, like English.
Thanks

[2018-02-05 11:47] eri-trabiccolo commented on #1450
Hi,
thanks for reporting this.

Here's the single pagination in RTL:
<img width="425" alt="rtl_pagination" src="https://user-images.githubusercontent.com/7689242/35802982-6f42059c-0a72-11e8-9488-d32b779b59cd.png">
while in LTR looks this way:
<img width="340" alt="ltr_pagination" src="https://user-images.githubusercontent.com/7689242/35803035-a24cec90-0a72-11e8-9180-dfa331696393.png">

so in RTL i

[2018-02-05 11:48] eri-trabiccolo commented on #1448
Thanks guys.
I close this then! :D

[2018-02-05 11:48] #1448 closed, assigned to nobody

[2018-02-05 11:54] hosseinfarnia opened #1451 "RTL sub menu arrow issu"
Hi @eri-trabiccolo
please take a look at this website which is in Hebrew language:
http://www.glezer.co.il/
The arrow in sub-menus should be mirrored on classic style.

[2018-02-05 12:07] hosseinfarnia commented on #1450
You are right.
I was wrong again.
I checked some other sites in Persian right now and they were like twenty seventeen.
but I don't understand this. I think this is wrong.
But It's not so important. you can close this issue.
thanks

[2018-02-05 12:39] JTS-IL commented on #1451
Yep
It's an old issue I keep postponing, and forgetting :)

[2018-02-05 12:44] JTS-IL commented on #1450
Salam Aleikum Hossein,
TwentyTwelve is probably the best reference for RTL.
So if you think something should be the other way, there is always a chance you are right.
In this case - the RTL shouldn't be like it's now, I fixed something similar locally on my test site with "float:right"

[2018-02-05 13:27] hosseinfarnia commented on #1450
Salam Yaacov
I think this is wrong that numbers go to left in paginations. because in RTL we write numbers from left to right like English.
I also checked some famous websites in Persian, the paginations were from right to left (and I think it's very strange and wrong) in all of them.
But it's not very important. No one pays attention to this area!
This was the first time that I myself checked thi

[2018-02-05 13:37] JTS-IL commented on #1450
You are right.
In Hebrew, as in Arabic, numbers are written from left to right, but the problem, talking about UI/UX, is that we are used to click on the left arrow for "next" and right arrow for "prev", and it's the other way with page numbers.
So I think that each one should use it on his site with small CSS patch

[2018-02-05 13:49] hosseinfarnia commented on #1450
Yes
I will use a css patch for this.
Thank you very much.

[2018-02-05 17:52] eri-trabiccolo commented on #1451
Thanks guys for reporting this!
@JTS-IL thanks for reporting it again ;)

[2018-02-05 17:58] eri-trabiccolo opened #1452 "IE11 javascript error when pressing a key with the Smooth Scroll option on"
Object doesn't support property or method 'contains'.
Produced by:
https://github.com/presscustomizr/customizr/blob/v4.0.17/assets/front/js/libs/smoothscroll.js#L367

​Anyway this is minor and does not have any impact on the rest of the site when it occurs, as far as I can see.

reported:
https://secure.helpscout.net/conversation/517702669/37405?folderId=607709#thread-1408969035

[2018-02-06 08:21] ghost opened #1453 "topbar possible improvements => allow user to decide the side of the blocks"
the idea would to add a very simple select box allowing user to choose between two layout

- [menu + contact info] on the left / [socials + tagline ] on the right
- [menu + contact info] on the right / [socials + tagline ] on the left

https://secure.helpscout.net/conversation/518978869/37503/

[2018-02-07 08:19] eri-trabiccolo opened #1454 "Possible problems with the slider and fp shown in all the pages"
https://wordpress.org/support/topic/how-to-keep-the-slider-only-in-home-page
https://wordpress.org/support/topic/preventing-home-page-effects-repeating-on-all-other-pages
https://wordpress.org/support/topic/wrong-visualization-of-the-post-no-title-yes-slider-and-home-page-box/

I'm not able to reproduce this.
The logic of whether to show or not the home page slider and the featured pages is here:

[2018-02-07 08:39] ghost opened #1455 "Video slider !"
### requested
https://secure.helpscout.net/conversation/519259554/37529/?folderId=607547
https://secure.helpscout.net/conversation/513947902/37137?folderId=610156
https://secure.helpscout.net/conversation/513371167/37089?folderId=610156
https://secure.helpscout.net/conversation/475466405/34907?folderId=607546
https://secure.helpscout.net/conversation/473461365/34729?folderId=607546
https://secure.

[2018-02-07 08:41] eri-trabiccolo commented on #1455
pro video slider! :P

[2018-02-07 08:43] #1455 closed, assigned to nobody

[2018-02-07 17:47] oriolarcas opened #1456 "hentry author missing for related posts"
Hi, great theme. Just a minor thing: the Google Search Console is complaining about the pages with related posts.

For each related post, a hentry is defined with title and other metadata. But the author key is missing. It would be nice if you could add it.

Thanks!

[2018-02-12 02:56] emran1 opened #1457 "Feature request: Featured Pages for other pages"
Ticket: https://secure.helpscout.net/conversation/522114583/37726/

user wants an option to get featured pages on other pages as well.

[2018-02-12 08:03] ghost opened #1458 "When the tagline location is set to the topbar in desktop, it is not displayed anymore in mobile"
Reported here : https://secure.helpscout.net/conversation/522310678/37742/?folderId=607544
![2018-02-12_08-59-38](https://user-images.githubusercontent.com/3038156/36087579-627e651a-0fd3-11e8-8c11-9c3faef34493.jpg)

The problem only occurs when the tagline location is set to topbar in desktops.

[2018-02-12 08:19] eri-trabiccolo commented on #1458
Ah yeah, because all the taglines share the same model instance, so the same CSS classes.
Hence the mobile tagline happen to have the 'hidden-md-down' set for the topbar one (which is rendered "before").
Hope I've been understandable :D

[2018-02-12 08:57] ghost commented on #1457
Thanks for reporting it.

[2018-02-12 09:13] eri-trabiccolo opened #1460 "Fresh installs: topbar menu not displayed"
https://secure.helpscout.net/conversation/521643711/37679?folderId=607541

[2018-02-12 09:47] eri-trabiccolo commented on #1436
customizr: https://github.com/presscustomizr/customizr/pull/1462
bundle: https://github.com/presscustomizr/pro-bundle/pull/141

[2018-02-12 22:05] Great-Balti opened #1464 "why shown misc.php on line 1114 and how to fix it"
Warning: Cannot modify header information - headers already sent by (output started at /srv/disk6/2609567/www/ptvsportsr.co.nf/cata/wp-content/themes/GreatBalti/functions.php:1) in /srv/disk6/2609567/www/ptvsportsr.co.nf/cata/wp-admin/includes/misc.php on line 1114

Help me Please I'm troubling since last week. How to fix it?
Thanks

[2018-02-13 12:18] eri-trabiccolo commented on #1438
fixed for wpforms-lite

[2018-02-13 12:27] #1458 closed, assigned to eri-trabiccolo

[2018-02-13 12:27] #1460 closed, assigned to nobody

[2018-02-13 12:28] #1436 closed, assigned to nobody

[2018-02-13 12:29] #1434 closed, assigned to nobody

[2018-02-13 12:30] #1438 closed, assigned to nobody

[2018-02-13 14:03] ghost commented on #1176
v4.0 is officialy released
https://blog.getbootstrap.com/
Let's update our code

@eri-trabiccolo I propose that you make a preliminary analysis of what needs to be done and then we validate the specs together this week when you're ready.

[2018-02-15 08:44] Great-Balti commented on #1464
problems solved

[2018-02-16 01:18] emran1 opened #1466 "Feature request: Background images position controlling option for mobiles."
Ticket: https://secure.helpscout.net/conversation/523807206/37841?folderId=1845241

[2018-02-16 14:22] eri-trabiccolo commented on #1176
Custom version build:
https://github.com/presscustomizr/bootstrap-light/tree/customizr-bv4

PRs:
customizr: https://github.com/presscustomizr/customizr/pull/1467
pro-bundle: https://github.com/presscustomizr/pro-bundle/pull/142

[2018-02-16 14:35] eri-trabiccolo commented on #1176
## Major changes:
- B4 drops all `transition` property prefixes for pretty old browsers.
- since we use a custom classes/js for the `collapse` we don't include anymore the b4 transitions scss part -> treated in https://github.com/presscustomizr/customizr/pull/1467/files#diff-1f9cba6b3b49542d00f2d50f826bb87bR186
- we also use custom menu `dropdown` + snake (b4 uses a jquery plugin named popper to p

[2018-02-17 03:16] emran1 opened #1468 "Feature request: Option to add/display posts on specific pages"
Ticket: https://secure.helpscout.net/conversation/525421209/37941?folderId=607541

[2018-02-19 08:02] #1202 closed, assigned to nobody

[2018-02-19 08:03] #1327 closed, assigned to eri-trabiccolo

[2018-02-19 08:03] ghost commented on #1327
OK let's close it for now then

[2018-02-19 08:48] ghost commented on #989
### Priority placeholders to implement:
- The footer has no widgets yet
- All context => widget notes in left and / or right sidebars, if they are displayed with no widget set
- Singulars => featured image note on top of the main heading
- Singulars => lazy load notice when posts has images

### Code
The placeholders will be displayed in modern style only.

- move CZR_placeholders from inc/_dev to

[2018-02-19 11:05] ghost commented on #989
Other placehoders:
Like in hueman, when customizing, print a message indicating that the widget zone can be edited
![widget_placeholders](https://user-images.githubusercontent.com/3038156/36374848-1f35116a-156d-11e8-8772-778e1827a796.jpg)

[2018-02-19 15:33] #1464 closed, assigned to nobody

[2018-02-19 16:58] eri-trabiccolo commented on #1432
Could not spot any particular issue, except for one. All the featured pages showing the same image in the preview:
### You can see the issue here:
<img width="953" alt="new-themepreview-samefpthumbs" src="https://user-images.githubusercontent.com/7689242/36385453-e130e9ae-1592-11e8-9b99-139d2918c3ff.png">

### Here with the PR applied:
<img width="953" alt="new-themepreview-differentfpthumbs" src=

[2018-02-19 18:15] eri-trabiccolo opened #1470 "Classical - avoid tag cloud links to overflow the sidebars"
https://wordpress.org/support/topic/tag-widget-not-displaying-properly/
<img width="306" alt="tag-cloud-overflow" src="https://user-images.githubusercontent.com/7689242/36391887-cf2547f8-15a8-11e8-8f8b-9fd441148aa2.png">

Something like this would be enough:
`.tag-cloud-link {
    display: inline-block;
}`
needs test.

About the "weird text", well, it's actually how tagcloud has been always displa

[2018-02-22 08:21] ghost opened #1471 "Specific templates for EDD ?"
https://secure.helpscout.net/conversation/528290367/38138?folderId=610156

[2018-02-22 11:02] eri-trabiccolo opened #1472 "After b4 update the 404 page layout shows the content on the left instead of centered"
This because b4 dropped push-*/pull-* classes (that we use only there).

[2018-02-22 11:57] eri-trabiccolo commented on #1472
We can only use the offset-* classes which are not RTL compatible.
I will add offset-* classes RTL compatible that will override the b4 one ONLY in the rtl CSS.
Not the best possible solution. This will increase the RTL min css of around 3 kb.

Additionally: will also fix the post list plain not really RTL compatible when showing the taxonomies vertically next to the content.

[2018-02-22 13:15] #1472 closed, assigned to eri-trabiccolo

[2018-02-22 13:18] ghost commented on #1432
Thanks for the PR.
I'll investigate the menu part

[2018-02-22 14:23] eri-trabiccolo commented on #989
Customizr: https://github.com/presscustomizr/customizr/pull/1474
front js: https://github.com/presscustomizr/customizr-front-js-parts/pull/36
grunt tasks: https://github.com/presscustomizr/customizr-grunt-tasks/pull/8

Considerations:
1) I use only one nonce for all the notices, no need to create N nonces for N notices.
2) js params are not localized anymore, instead they will be element attribute

[2018-02-22 14:54] ghost commented on #989
1. ok
2. better!
3. yes
4. yes
5. I understand your choice but I think that many "old" users of the modern style should see the placeholders .  I'm thinking in particular about the empty sidebars that I keep seeing on modern style websites. If we receive a lot of bad feedbacks we'll disable it for old users as you propose.
6. yes. I'll propose something
7. yes. should be loaded separately and no n

[2018-02-22 15:14] eri-trabiccolo commented on #989
Thanks for the quick feedback,
5. I "fake revert" the latest commit then
:)

[2018-02-23 01:48] emran1 opened #1475 "Plugin Compatibility: Yoast plugin"
User's facing latest theme compatibility with yoast seo plugin.

Ticket: https://secure.helpscout.net/conversation/528084784/38125?folderId=1845241

[2018-02-23 08:34] eri-trabiccolo opened #1476 "In latest b4 stable col*auto max-width is set to none, which might cause our elements overflowing the parent"
This might happen in some edge cases in the footer colophon in mobiles (very big credits/very long list of socials), but can be pretty common for post tags buttons that we display at the end of a post, as they can rapidly fill the container depending on the layout.

I fix this point by point as it doesn't require a lot of CSS.
To be honest I don't think bs will keep this, I'm about to open on issu

[2018-02-23 09:51] #1476 closed, assigned to eri-trabiccolo

[2018-02-26 02:19] emran1 opened #1478 "Plugin compatibility: Ultimate member plugin"
Ticket: https://secure.helpscout.net/conversation/529909634/38227/

[2018-02-26 08:43] eri-trabiccolo commented on #1478
Thanks,
cannot reproduce with https://wordpress.org/plugins/ultimate-member/ both with classical and modern style

[2018-02-26 09:12] ghost commented on #1478
I've asked the user to explain the steps to reproduce the issue

[2018-02-27 10:53] eemlandict commented on #870
I think he is right...

[2018-02-27 10:56] eemlandict commented on #1456
It`s look like i still not resolved...  in change logs.. its should be...

[2018-02-28 08:43] eri-trabiccolo commented on #1432
I updated my previous comment with the correct images.

[2018-02-28 09:29] ghost commented on #1369
- before the footer
- not styled
- with an option to make it full width
- customizer => "Horizontal widget area in your footer", a select control in footer > Footer global settings with 3 options : don't display, display full width, display boxed

[2018-02-28 14:50] eri-trabiccolo commented on #1369
So I added this, displayed and in full-width by default
I added also the front placeholder and the customizer placeholder.
I'm not sure about:
1) having the front placeholder - even if for old users might be a way to inform about this new area
2) having this area outside the footer (meaning that it won't inherit the background for instance...)

[2018-02-28 15:57] eri-trabiccolo opened #1483 "Retina js doesn't work fine with ipad2? Or maybe a plugin conflicts with it."
...even if the user says that it occurred with all plugins disabled:
https://secure.helpscout.net/conversation/530136057/38244?folderId=607709

On the user website, according to the screenshot he provided us with, the logo disappeared (and the alt was shown). The logo seemed to be the only one image which actually had a retina version in his home page.

Might be related to this:
https://github.com

[2018-03-01 10:10] #1369 closed, assigned to nobody

[2018-03-02 13:51] ghost opened #1484 "Buddypress legacy template problem"

[2018-03-02 15:05] eri-trabiccolo commented on #1484
Not sure what the user means...
From
https://codex.buddypress.org/themes/updating-custom-themes/template-updates-2-7/

we don't override any bp template so we don't need to adjust anything.
As far as I can see even with TwentySeventeen the only available Template Pack is "BuddyPress Legacy" too.

For what I can see the BuddyPress Legacy is:

https://github.com/buddypress/BuddyPress/blob/master/src

[2018-03-03 01:41] emran1 opened #1485 "Plugin compatibility: search & filter pro"
Ticket: https://secure.helpscout.net/conversation/532419302/38377?folderId=1845241

[2018-03-03 01:59] emran1 opened #1486 "Plugins compatibility: Formidable Forms"
Ticket: https://secure.helpscout.net/conversation/533316429/38434/

[2018-03-03 07:46] ghost commented on #1485
thanks for reporting the problem @emran1

[2018-03-03 07:52] ghost opened #1487 "Do wo really need to hide the browser appearance (WebKit) for radios and checkboxes ?"
This is the source of problems

- fixed here => https://github.com/presscustomizr/customizr/issues/1438
- but reported again here with Formidable Forms => https://github.com/presscustomizr/customizr/issues/1486

Also reported by a user on the contact form

And probably on almost all plugins using checkboxes and radios

Let's implement a permanent fix for that

[2018-03-03 07:53] ghost commented on #1487
@eri-trabiccolo can you set it as first priority in the scheduled devs ?
We can quickly chat about it if you want

[2018-03-03 08:18] eri-trabiccolo commented on #1487
Well the appearance needs to be hidden if we want a certain style. But I'm with you.
Maybe let's apply this only for those forms we know it works:
- woocommerce
- wpcf7

If you agree.

[2018-03-03 08:51] ghost commented on #1487
yes I'm with you for this opposite approach, much safer, which is to let the browser style it in all cases but the one we decide ( woocommerce + wpcf7 ).

[2018-03-05 07:35] ghost commented on #1441
@eri-trabiccolo to be discussed in our next point
related to https://github.com/presscustomizr/customizr/issues/989

[2018-03-05 15:24] eri-trabiccolo commented on #1478
Able to reproduce the issue on the user website.
"Load images on scroll" is the involved option: disabled on the user website.
Still not able to reproduce the issue on my end.

[2018-03-06 15:43] ghost opened #1489 "How impacting would it be to turn slider .czrs-title from H1 to H2 ?"
in https://github.com/presscustomizr/customizr/blob/dev/templates/parts/modules/slider/slide.php#L29

@eri-trabiccolo even if we know that the SEO impact of having several H1 headings in a page is minimal, let's align the slider to the recommend practices.

Any opinion ?

[2018-03-06 16:06] eri-trabiccolo commented on #1489
Well, we might have the opposite complaints :D
"The front page, when displaying a logo, has no h1".

Except for this, I don't see any other problem.

[2018-03-06 16:13] ghost commented on #1489
yeah :)
OK so let's implement it. Can you take care about it ?
The only specification is to make sure that the markup change from H1 to H2 has no visual impact on the font size and Line height.   And no impact on javascript ( if any, but I don't think so because we target the class names with fittext ).

[2018-03-06 16:49] eri-trabiccolo commented on #1489
Done, with the CSS changes, doesn't seem to have any impact, tested with wfc too.

[2018-03-08 01:40] emran1 commented on #1457
Another ticket: https://secure.helpscout.net/conversation/536802623/38638?folderId=607541

[2018-03-08 02:01] emran1 opened #1491 "Plugin compatibility: Jetpack and Mailchimp"
Ticket: https://secure.helpscout.net/conversation/528907349/38174/

[2018-03-08 10:31] eri-trabiccolo commented on #1491
Thanks for reporting this @emran1.

Honestly, cannot see a direct relationship between the theme, three different plugin updates, and the products disappearing from the shop.
The "since the last Customizr update" sentence is "weird", since we're talking about something that started happening with a WooCommerce update:
latest two pro theme releases contained mostly bugfixes, so don't think they cou

[2018-03-10 01:19] emran1 opened #1492 "Feature request: Featured pages disable option for mobiles"
Ticket: https://secure.helpscout.net/conversation/537939192/38695?folderId=1845241

[2018-03-12 03:36] emran1 commented on #1486
Another ticket: https://secure.helpscout.net/conversation/538861731/38747/

[2018-03-12 10:51] eri-trabiccolo opened #1495 "Improve the modular-scale (h* font-size) for very small devices (smartphones)"
As reported by this user:
https://secure.helpscout.net/conversation/539490617/38785?folderId=607541

In smartphones the h* are too small.

[2018-03-12 14:45] ghost opened #1496 "Early check on php version ( must be >= 5.3 ? ) + WP version ( must be >= 4.5 ? )"

[2018-03-12 16:31] eri-trabiccolo commented on #1496
With 4.5 and 4.6 I get the following in the customizer, when trying to change an option whose transport
is postMessage - same with hueman:
czr-control-modern.js?ver=1520871754:206 Uncaught TypeError: Cannot read property 'get' of undefined
    at Function.api.Setting.preview (czr-control-modern.js?ver=1520871754:206)

But I don't get fatal errors
So we might need to increase the min wp version.

[2018-03-19 20:55] #1486 closed, assigned to eri-trabiccolo

[2018-03-19 20:55] #1487 closed, assigned to nobody

[2018-03-19 21:01] #1344 closed, assigned to nobody

[2018-03-19 21:01] #1456 closed, assigned to nobody

[2018-03-19 21:03] #1496 closed, assigned to nobody

[2018-03-20 10:42] eri-trabiccolo opened #1499 "Customizer: "partial" not allowed for the social links block unless you add a new one"
When I access the customizer,  in the preview, I would expect to "partial customize" the social links, but that's not the case:
<img width="944" alt="before-adding-one" src="https://user-images.githubusercontent.com/7689242/37649918-b17a3884-2c33-11e8-8a34-6cc1b5d486d2.png">

The "partial customization" is allowed only after I add (even without publishing) a new social link (adn added):
<img width

[2018-03-20 10:47] ghost commented on #1499
Yes I know. That's because the setting get registered dynamically only after a first modification.
I don't have a solution for the moment :/

[2018-03-20 10:54] eri-trabiccolo commented on #1499
Yeah I guessed you knew, just thought tracking it was worthwhile and flagged as enhancement and not bug :D

[2018-03-21 16:06] eri-trabiccolo opened #1501 "4.1.0 beta build won't pass the theme check and generate localization related warnings"
1) As it **requires** that every call to the add_setting() method needs to have a sanitization callback function passed.
https://github.com/presscustomizr/customizr/blob/v4.1.0-beta-2/core/czr-base-fmk/czr-base-fmk.php#L1025

2) Other warnings (which won't prevent the acceptance) will be produced, regarding to the fact that in the czr-base-fmk and in czr-modules/social-links we use constants as te

[2018-03-21 16:11] eri-trabiccolo commented on #1501
Addtextdomain grunt task added:
customizr: https://github.com/presscustomizr/customizr/pull/1502
grunt-tasks-config: https://github.com/presscustomizr/customizr-grunt-tasks/pull/10

[2018-03-21 17:09] ghost commented on #1501
hi Rocco, can we quickly chat about the text domain issue ?

[2018-03-21 17:10] eri-trabiccolo commented on #1501
yes

[2018-03-21 21:08] #1501 closed, assigned to nobody

[2018-03-22 11:26] eri-trabiccolo opened #1504 "Add menu button should not be print in the live preview"
Do we want it?

[2018-03-22 11:44] eri-trabiccolo commented on #1504
Ah, you want it as per:
https://github.com/presscustomizr/customizr/commit/c48740bd28b26620932cae671a3a7ea153606f9d#diff-495f64e6de9ff53815dc581cb04ed85bR159

so it's not a side effect, fine. I close this then.

[2018-03-22 11:47] #1504 closed, assigned to nobody

[2018-03-26 16:31] ghost opened #1507 "Customizer not loading when using WPForms Lite: 1.4.5.2"
First report

Then

https://secure.helpscout.net/conversation/548586100/39126/?folderId=610151

[2018-03-26 16:38] eri-trabiccolo commented on #1507
Cannot reproduce,
might be a ram issue not strictly related to the plugin...

[2018-03-27 15:25] eri-trabiccolo opened #1508 "Turn h1 slide title to h2"
requested:
https://secure.helpscout.net/conversation/548501805/39117?folderId=607709

as we did for the modern style, even if the impact might be more relevant for old users here...
https://github.com/presscustomizr/customizr/issues/1489

[2018-03-28 10:31] sillyonthestreet opened #1509 "Author URL in post metas return 404"
Author pages work fine if visited manually, example: domain.com/author/admin/

But, in post metas everywhere, where it says _By Admin_, the link points to domain.com/author/ instead of domain.com/author/admin/, and domain.com/author/ returns a 404 error.

IIRC, this wasn't the case before the last update.

[2018-03-28 13:08] ghost commented on #1509
@sillyonthestreet thanks for reporting the problem. A new release with a patch for this is on the way.

[2018-03-29 07:47] #1509 closed, assigned to eri-trabiccolo

[2018-03-29 12:05] ghost opened #1511 "How to address Google fonts being not accessible from a particular country, or not supported by a language"
Right now we use a default Google font for Customizr. This works fine in most of the cases, but there are caveats that we might want to address :

- If google fonts servers are not accessible from a given country, how can we fallback on a self hosted font ?
- If google fonts servers are accessible but the font doesn't support a given language, how can we know it and fallback on a websafe font ?

s

[2018-04-02 02:14] emran1 commented on #1457
https://secure.helpscout.net/conversation/552283054/39225?folderId=1845241

[2018-04-09 15:38] eri-trabiccolo opened #1512 "search form close icon and IE10+ small visual issue"
![image001](https://user-images.githubusercontent.com/7689242/38507416-b952b5ba-3c1c-11e8-85ae-48790a556419.png)

[2018-04-09 15:39] eri-trabiccolo commented on #1512
can be fixed with (needs tests):
[code]

[2018-04-11 05:43] devinjdawson commented on #877
This would be great for woocommerce product posts as well.

[2018-04-12 13:36] eri-trabiccolo opened #1513 "Front placeholder assets must not be enqueued when user not logged in"

[2018-04-13 07:29] eri-trabiccolo opened #1515 "MFP gallery left arrow not centered"
This is due to the 'smart loading' of the mfp assets.
They used to be loaded before our main style with our rules overriding the mfp ones, but, now, they are smart loaded after our main style, so that mfp rules override our ones.
<img width="957" alt="misaligned-arrow" src="https://user-images.githubusercontent.com/7689242/38722128-2e8b5b24-3efd-11e8-8049-832677fd8d7a.png">

[2018-04-15 16:29] #1513 closed, assigned to nobody

[2018-04-15 16:32] #1515 closed, assigned to nobody

[2018-04-18 02:05] emran1 opened #1518 "Feature request: Posts by category on individual pages"
https://secure.helpscout.net/conversation/563466393/82488/

[2018-04-20 08:10] eri-trabiccolo opened #1521 "Decrease space between breadcrumbs and WooCommerce products page title"
The WooCommerce products page title distance from the breadcrumbs (or the header if no breadcrumbs) should be the same we can see from the breadcrumbs and the standard page title

Standard page:
<img width="948" alt="standard-space" src="https://user-images.githubusercontent.com/7689242/39038038-b86ebe78-4482-11e8-9f3d-b83eaf4ce2ac.png">

WooCommerce products page (shop/product category/etc.):
<im

[2018-04-23 01:46] emran1 opened #1523 "Feature request: Slider text background option"
https://secure.helpscout.net/conversation/565983770/101663/

[2018-04-25 16:11] eri-trabiccolo commented on #1428
requested:
https://secure.helpscout.net/conversation/568329726/122885?folderId=607541

[2018-04-26 07:26] ghost opened #1524 "Single post on mobile => huge white space below the featured thumbnail"
![schermata_2018-04-22_alle_21 21 00](https://user-images.githubusercontent.com/3038156/39291436-485dbe12-4933-11e8-9e5e-cdea779d3f87.png)

I have been able to reproduce the problem when emulating an iphone on this page
https://www.anagni5stelle.it/comunicato-stampa-06-2018-22-aprile-certificazione-lista-anagni-5s/

But not reproductible on the demo here for example : https://demo.presscustomizr.c

[2018-04-26 07:59] eri-trabiccolo commented on #1524
Hi @Nikeo, surely due to the js centering option not enabled.
There's a CSS fallback that should center the image (center, but not cover) in the "container", but it's buggy as far as I can see.
It should look like this:
<img width="214" alt="2018-04-26_10-03-13" src="https://user-images.githubusercontent.com/7689242/39293416-1b8b9e44-4939-11e8-987e-3f4d0ccb9567.png">
(image centered in an element

[2018-04-26 08:10] eri-trabiccolo commented on #1524
Same happens in the classical style :/

[2018-04-26 08:15] ghost commented on #1524
can we quickly chat about it on skype ?

[2018-04-27 09:16] ghost opened #1526 "A user reports that the comment field does not appear in those posts that are not in the slider."
Not reproductible on my end...

Then

[2018-04-27 09:17] ghost commented on #1526
@eri-trabiccolo let me know if you think there can be any possible connection between the post slider and the comments being active or not...

[2018-04-27 09:33] eri-trabiccolo commented on #1526
Well, no cannot think of any connection between them...
And cannot reproduce it.

Cannot reproduce the slider showing only 4 posts either: also the website shows 4 posts.

Might be a caching issue. Both can be caching issues actually...

[2018-05-01 02:22] emran1 opened #1527 "Feature request: Featured pages, product option"
https://secure.helpscout.net/conversation/571763222/153663?folderId=607541

[2018-05-01 20:05] #1512 closed, assigned to nobody

[2018-05-01 20:08] #1521 closed, assigned to nobody

[2018-05-01 20:13] #1524 closed, assigned to nobody

[2018-05-02 15:31] eri-trabiccolo commented on #1155
This bug also affects (same reason: link is in the `.entry-content` ) add to cart buttons of cross-sell products in the cart page:
https://wordpress.org/support/topic/woocommerce-issue-cross-sell-doesnt-get-added-to-cart/

From my tests - I did some time ago - the way the code is done at the moment makes avoiding this conflict impossible - cannot use the skip selector list (don't remember at the m

[2018-05-08 14:17] eri-trabiccolo opened #1528 "Feature request: Add new social icon: Untappd"
https://secure.helpscout.net/conversation/576640219/162583?folderId=607709

https://fontawesome.com/icons/untappd?style=brands

[2018-05-10 04:16] emran1 commented on #1518
https://secure.helpscout.net/conversation/577622194/162620?folderId=607541

[2018-05-17 07:10] ghost opened #1529 "Fatal error: Call to undefined function WC() in core/front/models/header/parts/class-model-woocommerce_cart.php on line 30"
As reported by a user on the contact page

@eri-trabiccolo are you able to reproduce it ? Does it need a fix ?

[2018-05-17 16:49] ghost opened #1530 "Jetpack portfolio post type"
https://wordpress.org/support/topic/excellent-theme-296/

[2018-05-17 17:05] eri-trabiccolo commented on #1529
I've been not, during these months and WC had no updates in more or less one month.
Might depend on an old WooCoommerce version (weird) or maybe the user is using a beta version?
Will do some tests asap (tomorrow).

[2018-05-18 08:43] eri-trabiccolo commented on #1529
Cannot reproduce the issue with the current WC nor with the beta 3.4.0.
There might be a version where both wc_get_cart_url and WC() are not available?!
https://github.com/presscustomizr/customizr/blob/dev/core/front/models/header/parts/class-model-woocommerce_cart.php#L27

That's pretty weird though... :/

[2018-05-18 09:20] ghost commented on #1529
ok. thanks for your tests.

[2018-05-22 06:04] sauradi opened #1531 "publish Button is not available in theme Customize"
Hello Guys,

I am working on wooCommerce  Website, i want to customize my website but its not showing Publish Button, If i use default theme (like 2017) means it will show publish button.

what i should do so that i can customize website with another theme.

[2018-05-22 13:43] eri-trabiccolo opened #1532 "Improve BuddyPress (3) support: add specific CSS when using Nouveau template pack"
https://secure.helpscout.net/conversation/584965806/162948?folderId=607709

[2018-05-22 13:59] eri-trabiccolo opened #1533 "Avoid bootstrap based plugins conflicts with logo height"
https://wordpress.org/support/topic/header-not-high-enough-for-logo-only-on-start-page/
setting : `.branding .navbar-brand` height to auto, would be enough.

[2018-05-24 04:57] emran1 opened #1534 "Feature request: Related posts post count option"
https://secure.helpscout.net/conversation/586681384/163001/

[2018-05-24 06:05] ghost commented on #1529
I' ve replied to the user about this.

[2018-05-26 13:06] eri-trabiccolo opened #1536 "Classical style : WooCommerce 3.4.0 checkout page checkbox/radio misalignment"
reported here:
https://secure.helpscout.net/conversation/588123362/163057?folderId=607709

E.g.
<img width="608" alt="2018-05-26_15-01-46" src="https://user-images.githubusercontent.com/7689242/40576422-5cb860ee-60f6-11e8-92ed-ac485fbeebed.png">

[2018-05-30 17:08] eri-trabiccolo opened #1538 "Style new comment form checkbox for GDPR compliance included in WP 4.9.6"
This is how it looks in the modern style
<img width="632" alt="2018-05-30_14-21-08" src="https://user-images.githubusercontent.com/7689242/40735900-beda898e-643c-11e8-8e66-0fc2cbf18670.png">

and similarly in the classical one.

[2018-05-30 17:10] eri-trabiccolo commented on #1538
with #1539 :
<img width="590" alt="2018-05-30_14-33-42" src="https://user-images.githubusercontent.com/7689242/40736015-120984a2-643d-11e8-8ebc-725791110571.png">

[2018-05-30 21:05] #1533 closed, assigned to eri-trabiccolo

[2018-05-30 21:05] #1387 closed, assigned to eri-trabiccolo

[2018-05-30 21:05] #1538 closed, assigned to nobody

[2018-05-31 07:24] ghost opened #1540 "Gutenberg compat => post admin screen => slider buttons"
The buttons are not styled well.
# Before selecting a slider
![2018-05-31_09-21-42](https://user-images.githubusercontent.com/3038156/40767992-5a0e850a-64b4-11e8-97e4-2ec373f14a29.jpg)

# After selecting a slider
![2018-05-31_09-22-01](https://user-images.githubusercontent.com/3038156/40768000-5e7b9f24-64b4-11e8-86de-79aa93d62b91.jpg)

[2018-05-31 16:34] eri-trabiccolo opened #1541 "Social links: changes to already existent socials are not displayed in live preview"
This happens when you start customizing because the partial is not active yet.
If you change whatever setting that forces a refresh of the preview then you can see your changes to pre-existent socials.

I would expect that , for a first change, when the partial is not active yet, a preview refresh would have been triggered...

[2018-05-31 16:36] ghost commented on #1541
ok I'm on it

[2018-05-31 17:01] ghost commented on #1541
Has it been introduced recently ?

[2018-05-31 17:05] eri-trabiccolo commented on #1541
Not sure, I think it might be since the "dynamic creation".

[2018-05-31 17:07] ghost commented on #1541
yeah me too
I'll test the old version  quickly

[2018-05-31 17:11] eri-trabiccolo commented on #1541
me too 4.1.0 shows the same issue.

[2018-05-31 17:15] ghost commented on #1541
Ok. Crazy it’s not been reported before

[2018-05-31 17:16] ghost commented on #1541
Means that once created , the  socials are rarely modified.

[2018-05-31 17:22] ghost commented on #1541
I remember that you pointed it already last time but this was not for the same scenario

[2018-05-31 17:28] eri-trabiccolo commented on #1541
Yeah, not the same scenario, I just pointed out that the socials in the preview do not show the partial refresh pencil icon.

[2018-05-31 17:34] ghost commented on #1541
yep

[2018-06-04 18:08] Mia65 commented on #1538
Hi,
this change (#1539 :) is not displayed on my page. I have free theme and the classic style.
Attached a file (a screenshot)
I appreciate your help
[Comments Format.pptx](https://github.com/presscustomizr/customizr/files/2069458/Comments.Format.pptx)
Thank you

[2018-06-04 18:19] eri-trabiccolo commented on #1538
Hi @Mia65 ,
https://github.com/presscustomizr/customizr/pull/1539
ONLY styles the checkbox **WordPress** introduced for the standard comment form for non logged users.
This theme doesn't add any checkbox to the standard comment form.

Looking at your site, it seems you're using the Jetpack's comments system, which probably didn't add a similar checkbox. In any case the theme doesn't style the jetp

[2018-06-05 13:39] eri-trabiccolo opened #1542 "Checkbox and radio input plugins compatibility regression"
Basically a while ago, to avoid problems with third party plugins (see: https://github.com/presscustomizr/customizr/issues/1487) we scoped special input treatments to those elements child of `.themeform`, but with this commit:
https://github.com/presscustomizr/customizr/commit/800b4d4e1e732abf304de7c40ad4dae3a74a02c3

I reverted it because of the "wrong" use of the sass @at-root directive, which a

[2018-06-05 13:43] ghost commented on #1542
ok thanks
has it been reported somewhere already ?

[2018-06-05 13:51] eri-trabiccolo commented on #1542
Yes, sorry, was about to add the link:
https://secure.helpscout.net/conversation/594684067/163292?folderId=607709

In this case they don't work because theme FontAwesome icon set is not loaded, but still it shown the symptom.

[2018-06-05 13:57] ghost commented on #1542
ok thanks for the fix.
A new version should be pushed I think

[2018-06-05 13:58] ghost commented on #1542
I mean, this is critical enough to justify a new release. What do you think ?

[2018-06-05 14:00] eri-trabiccolo commented on #1542
It's critical for plugins like Formidable Forms and WP Forms at least:
https://github.com/presscustomizr/customizr/issues/1487

[2018-06-05 14:01] ghost commented on #1542
yes

[2018-06-05 14:04] eri-trabiccolo commented on #1542
Just one thing.
This fix won't fix the user's issue in the comment form (if any), the user will still need to load the font awesome icons.

[2018-06-05 14:18] ghost commented on #1542
yep. OK

[2018-06-05 14:29] eri-trabiccolo commented on #1542
@Nikeo
Following the conversation with the user in the ticket above, this fix becomes pretty urgent as radio buttons won't work fine, because the `-webkit-appearance ` is set to "none" for all of them, while the "font awesome appearance" is set only to the radio buttons children of `.themeform`.

[2018-06-05 14:57] ghost commented on #1542
ok. I'll do that tonight then.
thx

[2018-06-05 21:54] #1542 closed, assigned to nobody

[2018-06-06 14:38] eri-trabiccolo opened #1544 "Plugins compatibility and link in widgets with underline effect, even if disabled."
reported: https://secure.helpscout.net/conversation/592459627/163218?folderId=607709#thread-1631584279

Issue:
<img width="133" alt="2018-06-06_16-28-51" src="https://user-images.githubusercontent.com/7689242/41044614-ee32f404-69a6-11e8-8c51-3b347288574c.png">
While it should be:
<img width="127" alt="2018-06-06_16-31-51" src="https://user-images.githubusercontent.com/7689242/41044716-2adddc16-69a

[2018-06-11 14:08] eri-trabiccolo opened #1546 ".carousel-caption CSS plugin conflict"
This is a bs CSS class which we didn't prefixed yet.

A conflict with the [WidgetKit for Elementor](https://wordpress.org/plugins/widgetkit-for-elementor/) plugin has been reported:
https://secure.helpscout.net/conversation/598777002/163459?folderId=607541

We can replace `.carousel-caption` with `.czr-carousel-caption` to avoid this kind of issue.
N.B. wfc should be updated accordingly.

[2018-06-14 15:19] eri-trabiccolo commented on #1536
with #1547 it will look like this:
<img width="685" alt="2018-06-14_17-19-08" src="https://user-images.githubusercontent.com/7689242/41421419-15e0d556-6ff7-11e8-84b5-d28dbed64033.png">

[2018-06-15 06:23] eri-trabiccolo commented on #1530
Mmm, not totally sure what should we do with this.
I mean, at the moment, the portfolio post type shows up as any other post, and that's fine since it doesn't really have any special field/property.
Maybe the "request" is about differentiating the portfolio items from the standard post in a way.

[2018-06-15 08:09] ghost commented on #1536
Thanks for PR !

[2018-06-15 08:09] ghost commented on #1536
Let me know if you're available for a quick chat this morning

[2018-06-15 08:12] ghost commented on #1530
Ah ok. The first thing to test for me was that it could be displayed. So that's fine. Customizr is compatible with it.

Yes maybe the request is more about styling the jetpack portfolio. It's not specficied in the user's feedback.

[2018-06-15 08:15] eri-trabiccolo commented on #1536
I am ;)

[2018-06-15 15:39] eri-trabiccolo opened #1548 "centerInfinity conflict with Foogallery plugin"
Reported:
https://wordpress.org/support/topic/issue-with-tc-scripts-min-js-in-customizr-and-foogallery/

Here's the JS error the user points out:
`Uncaught TypeError: Cannot read property 'type' of undefined`
<img width="447" alt="2018-06-15_17-38-48" src="https://user-images.githubusercontent.com/7689242/41476857-02609a4e-70c3-11e8-9f32-5f219c48c5d9.png">

[2018-06-16 16:10] JTS-IL opened #1549 "Relataed post with zero tags"
Hi,
When a post has no tags, the 'related posts' displays the post as related to itself...
Is this a bug? was it meant to be like this?
http://www.medi-kal.glezer.co.il/2018/06/10/%D7%94%D7%9E%D7%9C%D7%A6%D7%94-%D7%93%D7%91-2017/ (site in progress...)

[2018-06-18 06:40] eri-trabiccolo commented on #1548
This issue is due to the fact that the plugin triggers a "post-load" event without passing any param.

[2018-06-18 06:49] eri-trabiccolo commented on #1548
fixed in https://github.com/presscustomizr/customizr-front-js-parts/pull/40

[2018-06-18 07:08] eri-trabiccolo commented on #1549
Hi @JTS-IL
thanks for reporting this!
It's a bug.
A fix is on the way ;)

[2018-06-18 14:38] eri-trabiccolo opened #1551 "Modern: very bad rendering of ordered list item numbers"
https://demo.presscustomizr.com/layout-test/
<img width="622" alt="2018-06-18_16-36-56" src="https://user-images.githubusercontent.com/7689242/41542711-db55011a-7315-11e8-858e-7a6b7b5680d7.png">

reported here:
https://wordpress.org/support/topic/list-numbers-strange-format/

This is a side effect of this:
https://github.com/presscustomizr/customizr/commit/557b73e87cb93c5cf329acbb38a24d3cf27e8937#

[2018-06-18 15:07] ghost commented on #1551
oh that's not good !
I'm pushing a new release tonight.
Thanks for the PR

[2018-06-18 15:16] eri-trabiccolo commented on #1551
I really appreciate you not thanking me for introducing the bug :D

[2018-06-18 15:19] ghost commented on #1551
it was implicit of course ... :)
no worries, I've done this type of mistakes too many times to know how hard to detect it is.

Anyway, this type of issue won't pass our new test process.

[2018-06-18 15:25] eri-trabiccolo commented on #1551
EDIT: wrong repo :)

[2018-06-18 16:31] ghost commented on #1551
what are you talking about... :) ?

[2018-06-18 16:34] eri-trabiccolo commented on #1551
Sorry wrong repo :)

[2018-06-19 07:13] #1548 closed, assigned to nobody

[2018-06-19 07:16] #1544 closed, assigned to nobody

[2018-06-19 07:20] #1536 closed, assigned to nobody

[2018-06-19 07:21] #1549 closed, assigned to eri-trabiccolo

[2018-06-19 07:21] #1551 closed, assigned to eri-trabiccolo

[2018-06-19 08:07] ghost opened #1553 "Tests for Customizr free v4.1.7 and Customizr Pro v2.1.6"
## releases
- https://github.com/presscustomizr/customizr/releases/tag/v4.1.7
- https://github.com/presscustomizr/customizr-pro/releases/tag/v2.1.6

## tests
- [x] related posts
- [x] do nested  ol lists display fine ?
- [x] old php
- [x] customizer : does it load properly ?
- [x] social links : can we add new ?
- [x] slider creation => creating a new slider
- [x] featured page customization
- [x]

[2018-06-19 08:09] ghost commented on #1553
Hello @eri-trabiccolo, my tests have gone fine.
Can you run the following tests on your side this morning ?
Thanks !

[2018-06-19 08:43] eri-trabiccolo commented on #1553
@Nikeo:
tests passed on my side.

[2018-06-19 13:23] JTS-IL opened #1554 "GDPR not translatable"
Hi,

I want to add Hebrew translation of the GDPR (with checkbox, next to the comments) but I cant find it...

[2018-06-19 13:44] eri-trabiccolo commented on #1554
Hi @JTS-IL
that checkbox is not part of the Customizr theme, it's part of WordPress ;)
The Customizr theme doesn't add any checkbox to the contact form :)

I close this.

[2018-06-19 13:44] #1554 closed, assigned to nobody

[2018-06-19 14:16] JTS-IL commented on #1554
oops...

[2018-06-19 14:20] eri-trabiccolo commented on #1554
No worries @JTS-IL it happens ;)

[2018-06-20 06:16] JTS-IL opened #1555 "improvement: add <span> to number of post in category listing (for RTL/LTR category names)"
Categories list widget displays the number of post next to the category name.
when using mixed RTL/LTR category names it looks like this:
איירבס (165)
A319 (9)
A320 (96)

instead of
(איירבס (165
  (9) A319
(96) A320

I tried this trick:
`/**************** add rtl mark to post count ****************/
function categories_postcount_filter ($cat_list) {
   $cat_list = str_replace('(', '<span class="po

[2018-06-22 06:58] ghost opened #1556 "Demo content in the previewer is not allowed anymore on wp.org. Featured Pages and slider should be disabled by default."
https://themes.trac.wordpress.org/ticket/56237#comment:4

[2018-06-22 07:44] eri-trabiccolo commented on #1556
what about the demo slider?
Do we have to remove it?

[2018-06-22 08:09] ghost commented on #1556
no, as long as it's not enabled by default, I don't see any reason why we should remove it.

[2018-06-22 08:30] #1556 closed, assigned to eri-trabiccolo

[2018-06-22 08:31] ghost commented on #1556
Thx. Merged. I'm running some tests.

[2018-06-22 08:53] eri-trabiccolo opened #1558 "Add two new help blocks on how to set the home Slider and Featured Pages"
They should be shown at specific hooks, if those elements are not set.

[2018-06-22 09:27] eri-trabiccolo opened #1559 "No main menu (while there's a mobile menu) is shown in the live preview"
That's because we don't fall back on the page menu by default anymore in prevdem.

Any idea on what do we have to do?

Ah wait, it should display the page menu actually...

[2018-06-22 09:29] ghost commented on #1559
Critical ? steps to reproduce ?

[2018-06-22 09:30] ghost commented on #1559
Main concern : Does it prevent users to display a menu ?

[2018-06-22 09:32] eri-trabiccolo commented on #1559
look at the preview in wp.org

[2018-06-22 09:33] ghost commented on #1559
ah ok.

[2018-06-22 09:36] ghost commented on #1559
thanks for reporting the bug. This can wait the next release I think no ?

[2018-06-22 09:37] eri-trabiccolo commented on #1559
Well, it only impacts the prevdem, so... marketing choice :D

[2018-06-22 09:43] eri-trabiccolo commented on #1559
Actually, new users will never see the page-menu there, they have to create a menu and show it in that location, so as of now, not showing the default page-menu there is more consistent with what users will get.

[2018-06-26 07:37] eri-trabiccolo opened #1560 "Customizer: Social Links crud-moule-part tmpl fetching error when live previewing a child-theme"
reported here:
https://wordpress.org/support/topic/having-customizr-child-theme-issue/

This issue, as far as I can see, ONLY happens when previewing a child-theme of this very theme.
And except for the social links, from a global look, I can see the other options working fine (always when live previewing the child-theme).
I cannot spot any PHP error.
So I don't think this is critical.

The user r

[2018-06-26 07:43] ghost commented on #1560
thanks for opening the issue :)

OK.

[2018-06-26 07:54] eri-trabiccolo commented on #1560
Ah, forgot to add ... the true error

[code]

[2018-06-26 08:15] eri-trabiccolo commented on #1560
Ok, went a little through this issue.
Basically, from what I understood, the customizer manager creates the nonce in its method get_nonces:
[code]
There, when previewing a non active child-theme, `$this->get_stylesheet()` returns the child-theme stylesheet, while here (ajaxing):
https://github.com/presscustomizr/czr-base-fmk/blob/master/_dev_php/0_2_czr-base-fmk-ajax_filter.php#L37

`get_styleshee

[2018-06-27 18:45] ghost opened #1561 "Post footers author info could be improved"

[2018-06-27 19:20] eri-trabiccolo commented on #1561
No required semicolon missing on that line.
Not sure what he means for all the rest (and why a semicolon there would change anything)
Will look at it asap

[2018-06-28 07:48] eri-trabiccolo commented on #1561
I don't understand if the user is saying that the semicolon will allow line-breaks in the author info.

Anyway...
Not all the HTML tags are preserved: try to save a user bio with `span`, `h*`, `p`, `br` and so on are stripped when saving - links and new lines are allowed though.
New lines do not automatically turn into `<p>`.

So what I guess is that the user is using some plugin either to enrich

[2018-06-28 11:21] eri-trabiccolo opened #1563 "Threading comments seems to be allowed even if disabled in WordPress discussion settings"
This should affect the modern style only.

Will look more in depth into this asap.

reported here: https://wordpress.org/support/topic/theme-allows-comment-replies-even-when-threading-turned-off/

[2018-06-29 10:09] eri-trabiccolo opened #1565 "Blank preview with WordPress 4.7.10 (at least)"
Tested also with 4.8 and 4.8.6 (latest of the 4.8 branch).
<img width="925" alt="error-preview" src="https://user-images.githubusercontent.com/7689242/42086502-8b7b8e1c-7b93-11e8-9d93-f713ac88a51a.png">

(same happens with Hueman)

reported:
https://wordpress.org/support/topic/blank-page-on-customizr-preview-screen/#post-10447320

FYI: 4.9 works

[2018-06-29 12:02] ghost commented on #1565
OK thanks.
I'm replying to the user in the forum.

[2018-07-08 21:22] vlad-ivanov-d opened #1566 "Stop slider pausing (modern)"
Hey guys,
Is there any way to make this in the modern theme style?
https://presscustomizr.com/snippet/stop-slider-pausing

[2018-07-10 17:45] ghost opened #1567 "Inifinite scroll keeps triggering the post load when reaching the bottom of the page"
![infinite_scroll_bug](https://user-images.githubusercontent.com/3038156/42527720-ba8eb582-8479-11e8-9e0d-7cdbd70986a7.gif)

[2018-07-10 17:46] ghost commented on #1567
Not urgent.
In the project list https://github.com/orgs/presscustomizr/projects/2#card-11222698

[2018-07-10 17:51] eri-trabiccolo commented on #1567
Ok.

[2018-07-10 17:56] ghost commented on #1567
not opened at the right place ...

[2018-07-10 17:56] #1567 closed, assigned to eri-trabiccolo

[2018-07-11 19:02] ghost opened #1568 "Remove beacon"

[2018-07-13 13:42] ghost opened #1569 "Customizer => pro upsell link redesign"
interesting design from astra
![astra_go_pro](https://user-images.githubusercontent.com/3038156/42694640-6296970a-86b3-11e8-9948-1cb79611dd37.jpg)

[2018-07-17 15:35] #1561 closed, assigned to nobody

[2018-07-17 15:35] #1568 closed, assigned to nobody

[2018-07-17 15:38] #1563 closed, assigned to eri-trabiccolo

[2018-07-18 08:48] ghost opened #1570 "issue with dropdowns with links on iPad and iPhone"
Reported on May 23rd 2018 by a user on helpscout.

[2018-07-18 08:58] eri-trabiccolo commented on #1570
Do we know if it was on classical or modern?

Also not sure which iPhone can display a "non mobile" menu.

Anyway will try reproduce the issue and to figure it out.

[2018-07-18 11:31] eri-trabiccolo commented on #1570
Tested the modern with an iphone 7 and works fine.
The classical mobile menu doesn't have the dropdown on click so ...

Cannot test ipad except with chrome emulator.

If it's about the modern theme, then we should know which are the user's devices experiencing this issue because it might depend on the "flex framework" which doesn't support old browsers/systems.

[2018-07-18 13:17] ghost opened #1571 "smoothscroll => examine disabling it by default"
I recently received a feedback from a pretty pissed-off user about smooth scrolling.

This made me think that this user might not be the only one to experience any unwanted slowness. And that a maybe safe solution would be to disable it by default.

@eri-trabiccolo what do you think ?

[2018-07-18 13:25] eri-trabiccolo commented on #1571
Let's disable it by default for new users.
But I think that we should apply some kind of smoothness to the user.

I understand that understanding what's the issue it might be hard, but hey that's absolutely not the way to talk.

[2018-07-18 13:28] ghost commented on #1571
OK. Yes I'm with you. let's do that for the moment.
And yes, not a way to talk ! But the point raised is still interesting to take. The rest is about how this person considers other humans (apparently not with many respect), not my problem, I'm neither his father, nor a monk... :)

[2018-07-18 13:39] eri-trabiccolo commented on #1571
Aren't you a monk?
Ohhhh

Yeah sure, I see your point.
Anyway it doesn't affect a lot of users, otherwise it would have affected us too.

I think parallax might suffer a little bit about this though (depending on the browser).

[2018-07-24 16:22] ghost opened #1573 "New option to display the site title next to the logo"
### Customizr
- Add a new checkbox option to the map, only for ms
- Enabled by default for new users
![2018-07-24_18-16-38](https://user-images.githubusercontent.com/3038156/43152063-cf414bda-8f6d-11e8-8de5-13971d0f3b6c.png)
- "Display your site title next to the logo" <= checked by default

### On front
The idea would to display the logo + site title in the same block, inline.
- if "Tagline below

[2018-07-25 09:05] eri-trabiccolo commented on #1573
Hi Nico,
prototype here:
https://github.com/presscustomizr/customizr/pull/1574
Tell me what you think, when you want

[2018-07-25 14:00] ghost commented on #1573
It works as discussed and specified. Thanks.
I'm might simply update the option wording.
Merging

[2018-07-25 14:03] #1573 closed, assigned to eri-trabiccolo

[2018-07-28 15:30] PeopleInside opened #1575 "Rounded avatars"
Add possibility to have rounded avatars in the comment.
Will be more nice maybe to see.

Below an example of comment where avatar is NOT rounded
![01](https://user-images.githubusercontent.com/5006150/43358063-ef00b336-928b-11e8-891e-ea03f91906b9.png)

Rounded avatar:
![02](https://user-images.githubusercontent.com/5006150/43358076-22e4ea0a-928c-11e8-9cba-c811f285be13.png)

[2018-08-01 07:54] eri-trabiccolo opened #1576 "Gutenberg post-format conditional meta-boxes issue"
The code implemented in https://github.com/presscustomizr/customizr/pull/1500
Doesn't work anymore, 'cause the post-format selector dom element doesn't exist yet at the time we perform the check on its existence.

To rapidly fix this I propose to just delay a little bit our main code execution.
See also https://github.com/presscustomizr/hueman/issues/672#issuecomment-409481887

[2018-08-01 10:36] ghost commented on #1576
great thanks, I'm on it after lunch

[2018-08-01 11:54] eri-trabiccolo commented on #1352
see https://github.com/presscustomizr/customizr/issues/1155

[2018-08-01 12:04] eri-trabiccolo commented on #1529
We have a similar issue reported here:
https://secure.helpscout.net/conversation/631050884/164506?folderId=607709

This time with the classical theme.

Looking at the user plugin list, it seems the WooCommerce plugin is not installed, so all the functions that refer to WC() actually should not be called.
I cannot reproduce the issue here, and of course the majority of the users not having the WooC

[2018-08-01 12:08] ghost commented on #1529
I'm with you.

[2018-08-01 12:18] eri-trabiccolo commented on #1529
Well, if the whole issue has any sense (even if it's weird), WooCommerce should not be installed and activated to make the related options appear.

[2018-08-01 12:50] #1576 closed, assigned to nobody

[2018-08-01 13:10] #1540 closed, assigned to nobody

[2018-08-01 14:53] #1529 closed, assigned to eri-trabiccolo

[2018-08-01 15:05] eri-trabiccolo commented on #1529
So since:

I suggested the user to disable the WooCommerce header cart option in the customizer, which was visible still because of the unknown reason, and it worked fine.

[2018-08-10 03:07] hosseinfarnia opened #1581 "left sidebar RTL issue"
Hi,
The left sidebar is not RTL in right to left languages. I had reported it before but it has not been fixed yet.
https://screencast-o-matic.com/watch/cFj6ehqi7E
Thanks